
<ion-content *ngIf="marketingView == 0">
    <div class="mp1">
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text>{{'mp1' | translate }}</ion-text>
        </ion-card-content>
    </div>  
</ion-content>
<ion-content *ngIf="marketingView == 1">
    <div class="mp2" >
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text>{{'mp2' | translate }}</ion-text>
            <ion-grid><ion-text class="author" color="white"> w. s. Merwin</ion-text></ion-grid>
        </ion-card-content>
    </div>  
</ion-content>
<ion-content *ngIf="marketingView == 2">
    <div class="mp3" >
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text class="lowercase">Up me Up, </ion-text>
            <hr>
            <ion-text>{{'mp3' | translate }}</ion-text>
        </ion-card-content>
    </div>  
</ion-content>
<ion-content *ngIf="marketingView == 3">
    <div class="mp4" >
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text class="lowercase">Up me Up, </ion-text>
            <ion-text>{{'mp4' | translate }}</ion-text>
        </ion-card-content>
    </div>  
</ion-content>
<ion-content *ngIf="marketingView == 4">
    <div class="mp5" >
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text class="lowercase">Up me Up, </ion-text>
            <br>
            <ion-text>{{'mp5' | translate }}</ion-text>
        </ion-card-content>
    </div>  
</ion-content>
<ion-content *ngIf="marketingView == 5">
    <div class="mp6" >
        <ion-row>
            <ion-button color="loginbtn" (click)="redirect()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-row> 
        <ion-card-content>
            <ion-text>{{'mp6' | translate }}</ion-text>
            <ion-grid><ion-text class="author" color="white"> {{'mp6-author' | translate }}</ion-text></ion-grid>
        </ion-card-content>
    </div>  
</ion-content>