<ion-header>
  <ion-toolbar color="loginbtn">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title><ion-label style="white-space: normal;">
            <!-- Selecciona els teus valors -->
            {{'select-softskills' | translate }}</ion-label>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!userSkills" class="ion-margin">
    <p>
      <!-- Encara no tens valors seleccionats -->
      {{'no-values-selected' | translate }}
    </p>
  </div>
  <div *ngIf="userSkills?.length > 0" class="ion-margin">
    <ion-label>
      <!-- Els teus valors son -->
      {{'your-values' | translate }}: </ion-label><br />
    <ion-chip outline color="loginbtn" *ngFor="let item of userSkills;">
      <ion-label> {{ item.name | translate }} </ion-label>
      <!--<ion-icon name="close-circle"></ion-icon>-->
    </ion-chip>
  </div>
  <ion-label *ngIf="userSkills?.length >= 6" style="font-size: 14px !important; padding-left: 50px;">* {{ 'max-value' | translate : {max: 6 } }}</ion-label>

  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item *ngFor="let skill of finalSkillsList" lines="none">
          <ion-label> {{ skill.label}} </ion-label>
          <ion-toggle slot="start" name={{skill.name}} id={{skill._id}} (ionChange)="changeSelection($event, skill)"
            [disabled]="disableCheckbox(skill._id)" [checked]="isChecked(skill._id)">
          </ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <div style="display: grid; justify-content: center;">
    <ion-label *ngIf="userSkills?.length < 6" style="font-size: 14px !important;"> * {{'min-value' | translate: {min: 6} }}</ion-label>
    <ion-button type="submit" fill="solid" color="loginbtn"
      (click)="saveSkills()" [disabled]="userSkills?.length < 6">
      <!-- Guardar -->
      {{'save' | translate }}
    </ion-button>
    
  </div>
  

</ion-content>