<ion-header>
  <ion-toolbar color="upmeup"> 
    <!-- <app-multilanguage></app-multilanguage> -->
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar> 

  <div class="header-class">
    <ion-thumbnail class="avatar-center ion-padding">
      <div *ngIf="avatar; else elseBlock">
        <img width="130px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img width="130px" src="./../../../assets/thumbnail.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid >
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>   
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card-content>
      <ion-title class="ion-padding-top title-offer" color="light">
        {{'edit-profile' | translate }}
      </ion-title>
      <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
          <ion-label position="stacked">
            <div *ngIf="userType === '1'" class="custom-title textarea-title" style="padding-top:0 ;">
              {{'name' | translate}}* 
            </div> 
            <div *ngIf="userType === '2'" class="custom-title textarea-title" style="padding-top:0 ;">
              {{'company-name' | translate }}*
            </div>
          </ion-label>
          <ion-input class="custom-text form-text" id="iName" formControlName="iName" minlength="2" maxlength="31"
            required></ion-input>
        </ion-item>
        <div *ngIf="errorCtr.iName.errors && (errorCtr.iName.invalid)">
          <small class="error ion-padding" *ngIf="errorCtr.iName.errors.required">*
            {{'required-field' | translate}}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iName.errors.minlength">*
            {{'min-character' | translate: {min: 2} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iName.errors.maxlength">*
            {{'max-character' | translate: {max: 30} }}
          </small>
        </div>

        <!-- Surname (candidates) -->
        <ion-list *ngIf="userType === '1'">
          <ion-item>
            <ion-label position="stacked">
              <div class="custom-title textarea-title" style="padding-top:0 ;">
                <!-- Cognom -->
                {{'surname' | translate }}*
              </div>
            </ion-label>
            <ion-input class="custom-text form-text" id="iSurname" formControlName="iSurname" minlength="2" maxlength="31"
              required></ion-input>
          </ion-item>
          <div *ngIf="errorCtr.iSurname.errors && (errorCtr.iSurname.invalid)">
            <small class="error ion-padding" *ngIf="errorCtr.iSurname.errors.required">*         
              {{'required-field' | translate}}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iSurname.errors.minlength">*
              <!-- Ha de tenir com a mínim 3 caracters -->
              {{'min-character' | translate: {min: 2} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iSurname.errors.maxlength">*
              <!-- Ha de tenir com a màxim 30 caracters -->
              {{'max-character' | translate: {max: 30} }}
            </small>
          </div>
        </ion-list>
        
        <!-- Website -->
        <ion-item *ngIf="userType === '2'">
          <ion-label position="stacked">
            <div class="custom-title textarea-title" style="padding-top:0 ;">{{'website' | translate}}</div>
          </ion-label>
          <ion-input class="custom-text form-text" id="iWebsite" formControlName="iWebsite" minlength="0" maxlength="101" ></ion-input>
          <div *ngIf="errorCtr.iWebsite.errors ">
            <small class="error ion-padding" *ngIf="errorCtr.iWebsite.errors.maxlength">*
              <!-- Ha de tenir com a màxim 60 caracters -->
              {{'max-character' | translate: {max: 100} }}
            </small>
          </div>
        </ion-item>
        
        
        <!-- Mail -->
        <ion-item>
          <ion-label position="stacked">
            <div class="custom-title textarea-title" style="padding-top:0 ;">{{'email' | translate }}*</div>
          </ion-label>
          <ion-input class="custom-text form-text" id="iEmail" formControlName="iEmail" minlength="10" maxlength="61"
            required></ion-input>
        </ion-item>
        <div *ngIf="errorCtr.iEmail.errors && (errorCtr.iEmail.invalid)">
          <small class="error ion-padding" *ngIf="errorCtr.iEmail.errors.required">*
            <!-- Camp requerit -->
            {{'required-field' | translate}}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iEmail.errors.minlength">*
            <!-- Ha de tenir com a mínim 10 caracters -->
            {{'min-character' | translate: {min: 10} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iEmail.errors.maxlength">*
            <!-- Ha de tenir com a màxim 60 caracters -->
            {{'max-character' | translate: {max: 60} }}
          </small>
        </div>

        <ion-item>
          <ion-row>
            <div style="width: 210px">
              <ion-label>
                <div class="custom-title">
                  <!-- Ciutat -->
                  {{'city' | translate }}:
                </div>
              </ion-label>
            </div>
            <div class="list list-inset input-select-container">
              <ion-select class="form-text" interface="action-sheet" id="iCity" formControlName="iCity" minlength="1"
                maxlength="80" placeholder="{{'select' | translate }}..." required>
                <ion-select-option *ngFor="let city of finalCityList"
                  value="{{city.value}}">{{city.label}}</ion-select-option>
              </ion-select>
            </div>           
          </ion-row>
        </ion-item>

        <ion-list *ngIf="userType === '1'">
          <ion-item>
            <ion-label position="stacked">
              <div class="custom-title textarea-title" style="padding-top:0 ;">
                <!-- Estudis -->
                {{'studies' | translate }}*
              </div>
            </ion-label>
            <ion-input class="custom-text form-text" id="iEduc" formControlName="iEduc" minlength="2" maxlength="101"
              required></ion-input>
          </ion-item>
          <div *ngIf="errorCtr.iEduc.errors && (errorCtr.iEduc.invalid)">
            <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.required">*
              <!-- Camp requerit -->
              {{'required-field' | translate}}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.minlength">*
              <!-- Ha de tenir com a mínim 8 caracters -->
              {{'min-character' | translate: {min: 2} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.maxlength">*
              <!-- Ha de tenir com a màxim 40 caracters -->
              {{'max-character' | translate: {max: 100} }}
            </small>
          </div>
        </ion-list>

        <!-- Competències -->
        <ion-item *ngIf="userType === '1'" lines="none">
          <ion-label>
            <h2 class="custom-title" style="padding-bottom: 0;">
              <!-- Competències/Habilitats -->
              {{'skills' | translate }}
              :
            </h2>
            <h5 class="custom-sub">
              <!-- (selecciona almenys 4 competències) -->
              * {{'select-skills' | translate }}
            </h5>
            <h5 class="custom-sub">* {{'add-competences' | translate}}</h5>
          </ion-label>
        </ion-item>
        <ion-item class="ion-padding-top ion-padding-bottom" *ngIf="userType === '1'">
          <tag-input [(ngModel)]="selectedCompet" 
                     [identifyBy]="'id'" 
                     [displayBy]="'name'"
                     placeholder="+ {{'skills' | translate}}" 
                     [maxItems]='20' 
                     id="iCompetence" 
                     formControlName="iCompetence"
                     [removable]="true" 
                     [theme]="'upm-tag-theme'">
            <ng-template let-index="index" let-item="item">
              {{ item.name | translate }}
              <delete-icon (click)="removeCompetence(item)"></delete-icon>
            </ng-template>
            <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'" [matchingFn]="matchCompetencies">
              <ng-template let-item="item" let-index="index">
                {{ item.name | translate }}
              </ng-template>
            </tag-input-dropdown>
          </tag-input>
        </ion-item>

        <ion-list *ngIf="userType === '1'">
          <ion-item>
            <ion-label position="stacked">
              <div class="custom-title textarea-title" style="padding-top:0 ;">
                <!-- Últim càrrec o feina -->
                {{'last-job' | translate}}*
              </div>
            </ion-label>
            <ion-input class="custom-text form-text" id="iJobPos" formControlName="iJobPos" minlength="4" maxlength="71"
              required></ion-input>
          </ion-item>
          <div *ngIf="errorCtr.iJobPos.errors && (errorCtr.iJobPos.invalid)">
            <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.required">*
              <!-- Camp requerit -->
              {{'required-field' | translate}}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.minlength">*
              <!-- Ha de tenir com a mínim 5 caracters -->
              {{'min-character' | translate: {min: 4} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.maxlength">*
              <!-- Ha de tenir com a màxim 70 caracters -->
              {{'max-character' | translate: {max: 70} }}
            </small>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label>
                  <h2 class="custom-title">{{'sectors' | translate}}:</h2>
                </ion-label>
              </div>
              <div class="list list-inset input-select-container"> 
                <ion-select class="form-text" interface="action-sheet" id="iSector" formControlName="iSector" multiple="true"
                placeholder="{{'select' | translate }}..." required>
                  <ion-select-option *ngFor="let sector of finalSectorList" value="{{sector.value._id}}"> 
                    {{sector.label}}
                  </ion-select-option>
                </ion-select>
              </div>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label position="stacked">
            <div *ngIf="userType === '1'" class="custom-title textarea-title" style="padding-top:0 ;">
              <!-- Anys d'experiencia -->
              {{'experience-cap' | translate }}*
            </div>
            <div *ngIf="userType === '2'" class="custom-title textarea-title" style="padding-top:0 ;">
              <!-- Antiguitat de l'empresa -->
              {{'company-age' | translate }}*
            </div>
          </ion-label>
          <div style="display: grid; grid-auto-flow: column; align-items: center; justify-content: center;">
            <div class="list list-inset input-container"
                 style="display: grid; grid-auto-flow: column; justify-content: space-between; align-items: center; gap: 28px; padding: 16px 24px; max-width: 360px; width: inherit;">
              <ion-icon style="font-weight: 500; border-radius: 100%; background-color: #C7C6C6;"
              name="remove-outline" (click)="addExperience(-1)"></ion-icon>
              <input class="native-input sc-ion-input-md" 
                     type="number" 
                     placeholder="0" 
                     id="iExp"
                     formControlName="iExp" 
                     required style="width: 3ch; padding-left: 9px;">
              <ion-icon style="font-weight: 500; border-radius: 100%; background-color: #C7C6C6;" name="add-outline"
              (click)="addExperience(1)"></ion-icon>
              
            </div>
            <!-- anys -->
            {{'years' | translate }}
          </div>
        </ion-item>
        <div *ngIf="errorCtr.iExp.errors && (errorCtr.iExp.invalid)">
          <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.required">*
            <!-- Camp requerit -->
            {{'required-field' | translate}}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.minlength">*
            <!-- Ha de tenir com a mínim 1 valor -->
            {{'min-1' | translate }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.maxlength">*
            <!-- Ha de tenir com a màxim 2 valors -->
            {{'max-character' | translate: {max: 2} }}
          </small>
        </div>

        <ion-item>
          <ion-label position="stacked">
            <div *ngIf="userType === '1'" class="custom-title textarea-title" style="padding-top:0 ;">
              <!-- Descripció tasques (últim càrrec) -->
              {{'job-description' | translate }}*
            </div>
            <div *ngIf="userType === '2'" class="custom-title textarea-title" style="padding-top:0 ;">
              <!-- Què feu a la teva empresa o entitat? -->
              {{'job-details' | translate }}*
            </div>
          </ion-label>
          <ion-textarea id="iLastJob" formControlName="iLastJob" minlength="20" maxlength="1001" rows="6" cols="60"
            required></ion-textarea>
        </ion-item>
        <div *ngIf="errorCtr.iLastJob.errors && (errorCtr.iLastJob.invalid )">
          <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.required">*
            <!-- Camp requerit -->
            {{'required-field' | translate}}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.minlength">*
            <!-- Ha de tenir com a mínim 20 caràcters -->
            {{'min-character' | translate: {min: 20} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.maxlength">*
            <!-- Ha de tenir com a màxim 400 caràcters -->
            {{'max-character' | translate: {max: 1000} }}
          </small>
        </div>

        <ion-list *ngIf="userType === '1'">
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label>
                  <h2 class="custom-title">
                    <!-- Idiomes -->
                    {{'languages' | translate }}
                    :
                  </h2>
                </ion-label>
              </div>
              <div class="list list-inset input-select-container">
                <ion-select class="form-text" interface="action-sheet" id="iLang" formControlName="iLang" minlength="1"
                  maxlength="80" [multiple]="true" placeholder="{{'select' | translate }}..." required>
                  <ion-select-option *ngFor="let lang of finalLangList"
                    value="{{lang.value}}">{{lang.label}}</ion-select-option>
                </ion-select>
              </div>
            </ion-row>
          </ion-item>
        </ion-list>

        <ng-container *ngIf="userType === '1'">
          <ion-item>
            <ion-label position="stacked">
              <div class="custom-title textarea-title">
                <!-- Descripció tasques (últim càrrec) -->
                {{'cover-letter' | translate }}
                : 
              </div>
            </ion-label>
            <ion-textarea id="iCoverLetter" formControlName="iCoverLetter" maxlength="2000" rows="10" cols="60"></ion-textarea>
          </ion-item>
          <div *ngIf="errorCtr.iCoverLetter.errors && (errorCtr.iCoverLetter.invalid)">
            <small class="error ion-padding" *ngIf="errorCtr.iCoverLetter.errors.maxlength">*
              <!-- Ha de tenir com a màxim 2000 caràcters -->
              {{'max-character' | translate: {max: 2000} }}
            </small>
          </div>
        </ng-container>

        <ion-item *ngIf="userType === '1'">
          <ion-label position="stacked">
            <div class="custom-title textarea-title" style="padding-top:0 ;">
              {{'video' | translate }}:</div>
          </ion-label>
          <ion-input class="custom-text form-text" id="iVideo" formControlName="iVideo"></ion-input>
        </ion-item>


        <p class="ion-text-center ion-padding">
          <ion-button type="submit" fill="solid" color="loginbtn" shape="round">
            <!-- Actualitzar  -->
            {{'update' | translate }}
          </ion-button>
          <small class="error ion-padding" *ngIf="!editUserForm.valid" style="color:red">{{'required-values' | translate }}</small>
        </p>
      </form>
    </ion-card-content>
    

  </div>
</ion-content>