<ion-header>
    <ion-toolbar color="loginbtn">
      <ion-title>
        <!-- Edita tu avatar -->
        {{'edit-avatar' | translate }}
      </ion-title>
      <!-- <app-multilanguage></app-multilanguage> -->
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="header-class">    
    <ion-grid>
      <h4 class="custom-title">
        <!-- Avatar actual:  -->
      {{'current-avatar' | translate }}:
      </h4>
      <ion-thumbnail class="avatar-center ">
          <div *ngIf="avatar; else elseBlock">
            <img [src]="avatar" alt="">
          </div>
          <ng-template #elseBlock>
            <img src="./../../../assets/thumbnail.svg" />
          </ng-template>    
      </ion-thumbnail>
      <p class="ion-text-center">
        <ion-row>
          <ion-col size="12">
            <ion-button fill="solid" color="loginbtn" shape="round">
              <label for="upload-avatar" > {{'select-avatar' | translate }}</label>
            </ion-button>
          </ion-col>
          <ion-col>
            <small class="error" style="font-size: 16px;">*
           {{'max-weight' | translate }}
            </small>
          </ion-col>
        </ion-row>   
        <input type="file" id="upload-avatar" accept=".jpg, .png" (change)="onSelectNewAvatar($event)" style="display:none">
        <image-cropper *ngIf="imageChangedEvent && !uploaded"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="2 / 2"
            format="png"
            (imageCropped)="imageCropped($event)"
        ></image-cropper>
      </p>     
      <h4 class="custom-title">       
        <div *ngIf="avatarBase64">  
          <!-- Nuevo avatar seleccionado -->
          {{'new-avatar' | translate }}: 
          <ion-thumbnail class="avatar-center">
            <img width="100px" [src]="avatarBase64" alt="">
          </ion-thumbnail>   
          <p class="ion-text-center ion-padding">
        <ion-button  type="button" fill="solid" color="loginbtn" shape="round"(click)="uploadImage(userID, avatarBase64)">{{'update-avatar' | translate }}</ion-button>
      </p>
        </div>
      </h4>
     
    </ion-grid>
  </div>

  </ion-content>