
ion-content {

    .container {
        margin: 40px 150px;
        max-width: 1200px;
        display:grid;
        gap: 40px;

        .steps {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2,  auto);
            max-width: 1000px;
            column-gap: 100px;
            row-gap: 70px;
            margin: 0px 0px;
        }

        @media screen and (max-width: 1090px) {
            .steps {
                text-align: center;
                display: grid;
                grid-template-columns: auto;
                max-width: 1000px;
                row-gap: 60px;
                margin: 0px 0px;
            }
            
        }

        .title {
            font-size: 26px;
            font-weight: 600;
            color: #466B6E;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        

        h2 {
            font-size: 30px;
            font-weight: 600;
            padding-left: 0px;
            text-align: center;
        }

        .ion-subtitle {
            font-size: 25px;
            font-weight: 500;
        }

        ion-text {
            font-size: 20px;
            font-weight: 500;
        }

        .bold {

            font-weight: 900;
        }

    }

    @media screen and (max-width: 800px) {
        .container {
            margin-left: 40px;
            margin-right: 10px;
            
        }
        
    }

   
}



.header-class { 
    background-color: var(--ion-color-upmeup);
    
    .head-line { border: 3px #c8e3d6 solid; }
    
    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; width: 130px; height: 130px}
    .header-text { display: block; text-align: center; }

    ion-label ion-icon { 
        width: 35px; 
        height: 35px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
    
}
