<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
  <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/help"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="userInfo">
    <div class="header-class">
        <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center;">
          <ion-thumbnail class="avatar-center">
            <div *ngIf="avatar; else elseBlock">
              <img width="130px" [src]="avatar" alt="">
            </div>
            <ng-template #elseBlock>
              <img width="130px" src="./../../../assets/avatar.svg" />
            </ng-template>
          </ion-thumbnail>
        </div>
        <ion-label class="header-text">
          <ion-grid class="ion-padding-top ion-padding-bottom">
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-title> <ion-label class="title-offer" style="font-weight: 500;">
                    {{ userInfo.name }} {{userInfo.surname}}
                    <h3>
                      <!-- de -->
                      {{'from' | translate }}
                      {{userInfo.city | translate}}
                    </h3>
                  </ion-label>
                </ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
    
      </div>
      
    <div class="container" style="max-width: 100%;"> 
    <h2>{{'delete-account-inf' | translate }}</h2>
    <ion-text style="font-size: 24px; font-weight: 500; text-align: center;">{{'delete-steps' | translate }}</ion-text>
    <ion-text style="font-size: 24px; font-weight: 500; text-align: center;">{{'miss-u' | translate }} 🥺</ion-text>
    
      <div class="steps" style="max-width: 100%; padding-bottom: 100px; padding-top: 50px;">
         
                
          
            <ion-col>
              <img src="../../../assets/airplane.png">
              <p class="title">1. {{'delete-step-1-tit' | translate }}</p>
              <ion-text>{{'delete-step-1' | translate }}</ion-text>
            </ion-col>
            <ion-col>
              <img src="../../../assets/mail.png">
              <p class="title">2. {{'delete-step-2-tit' | translate }}</p>
              <ion-text>{{'delete-step-2' | translate }}</ion-text>  
            </ion-col>
            <ion-col>
              <img src="../../../assets/ok.png">
              <p class="title">3. {{'delete-step-3-tit' | translate }}</p>
              <ion-text>{{'delete-step-3' | translate }}</ion-text>
            </ion-col>
            <ion-col>
              <img src="../../../assets/delete.png">
              <p class="title">4. {{'delete-step-4-tit' | translate }}</p>
              <ion-text>{{'delete-step-4' | translate }}</ion-text>
            </ion-col>
          
           
        
          </div>
       
    
    </div>
    
</ion-content>
<app-menu-mobile></app-menu-mobile>
