
<ion-header class="ion-no-border">
  <app-toolbar></app-toolbar>
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/company-offer"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
  <div class="header-class" *ngIf="offer">
    <ion-thumbnail class="avatar-center">
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/avatar.svg" />
      </ng-template>
      <!-- <img class="profile" src="./../../../assets/thumbnail.svg" /> -->
    </ion-thumbnail>
    <ion-label class="header-text ion-padding">
      <div>
        <ion-row>
          <ion-col>
            
            <ion-title class="ion-padding"> 
              <ion-label class="title-offer" color="dark"><b> {{ offer.title }} 
                </b>
              </ion-label>              
              <ion-row *ngIf="offer.status == 'INACTIVE'" style="white-space: normal; justify-content: center;">
                <ion-icon style="width: 25px; height: 25px; color: crimson;" name="alert-circle-outline"></ion-icon>   
                <ion-label style=" padding-left: 5px; font-size: 16px; color:crimson; vertical-align: super;"> {{'offer-inactive' | translate }} 
                  <ion-label style="text-transform: lowercase; color: crimson;">({{'offer-inactive-exp' | translate}})</ion-label>  
                </ion-label>
              </ion-row>
            </ion-title>    
          </ion-col>        
        </ion-row>
      </div>
    </ion-label>
    
    <div class="header-items">  
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="calendar-ico custom-icon"></div>
            </ion-col>
            <ion-col size="6">
              <ion-label> {{ offer?.createdDate | date: 'dd/MM/yyyy' }} </ion-label>
            </ion-col>
           </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="location-ico custom-icon"></div>   
            </ion-col> 
            <ion-col>
              <ion-label> {{ offer.city | translate }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="remoto-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer.remote | translate  }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
         <ion-row size="6">
            <ion-col size="3">
              <div class="jornada-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label style="text-align: center;"> {{ offer.workHours | translate  }} </ion-label>
            </ion-col>
          </ion-row> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="salary-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer.salaryRange }} € </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col size="3">
              <div class="enrolled-ico custom-icon"></div>
            </ion-col>
            <ion-col>
              <ion-label> {{ offer?.enrolled }} </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>




  <div class="container">
    <div class="noEnrolled ion-padding" *ngIf="usersListData.length === 0">
      <ion-label>
        <ion-text color="medium"> 
          <!-- Encara no s'ha inscrit ningú...  -->
          {{'no-sign-up' | translate }} 
        </ion-text>
      </ion-label>
    </div>
    <ion-row *ngIf="offer" class="offerList" style="padding-bottom: 10%; ">
      <ion-col>
        <ion-card class="container {{candidate.status===candidatureStatus.REJECTED ? 'rejected' : ''}}" *ngFor="let candidate of usersListData" style="margin-inline: 0; width: 100%; max-width: 700px;" >
          <ion-card-content>
            <ion-chip style="align-items: end;" class="fits" *ngIf="candidate.status===candidatureStatus.PRESELECTED || candidate.status===candidatureStatus.HIRED">{{'fits' | translate }}</ion-chip>
            <ion-chip class="no-fits" *ngIf="candidate.status===candidatureStatus.REJECTED">{{'no-fits' | translate }}</ion-chip>
            <ion-list lines="none" style="padding-top: 0px;">
              <ion-grid style="padding-top: 0px;">
                    <ion-item>   
                      <ion-thumbnail class="user-avatar" slot="start">
                        <img *ngIf="candidate.user.avatarB64" class="users" [src]="candidate.user.avatarB64" />
                        <img *ngIf="!candidate.user.avatarB64" class="users" src="./../../../assets/avatar.svg" />
                      </ion-thumbnail>
                      <ion-label style="white-space: normal;">
                        
                        <ion-text style="white-space: normal;">
                          <h2 class="title-color"> {{candidate.user.name}} {{candidate.user.surname}} <ion-text (click)="goCandidateProfile(candidate.user._id)" style="font-weight: bolder; text-decoration: underline;"> ({{'go-to-profile' | translate }}) </ion-text></h2>
                        </ion-text>
                        <ion-text color="medium">
                          <h3> <b>{{ candidate.user.jobPosition}}</b> </h3>
                        </ion-text>
                        <ion-text color="medium">
                          <ion-text color="medium">
                            <p>
                              <ion-icon name="location-outline"></ion-icon> {{ candidate.user.city | translate }}
                            </p>
                          </ion-text>
                        </ion-text>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label >
                        <div class="separator"></div>
                        <ion-col size="12">
                          <ion-text color="medium" style="white-space: normal;">{{'compatibility-level' | translate }}:</ion-text>
                        </ion-col>
                        <ion-range 
                          labelPlacement="start" 
                          [min]=0 
                          [max]=100 
                          [value]="candidate.match.total" 
                          style="pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
                          <div slot="start"><h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{candidate.match.total}}%</h3></div>
                        </ion-range>
                        <ion-row *ngIf="candidate.status === candidatureStatus.UNDEFINED || candidate.status === null" style="justify-content: center; display: flex;">
                          <ion-col style="justify-content: center; display: flex;"> 
                            <ion-button 
                                       (click)="preselectCandidate(candidate.user._id)" 
                                        color="candidateok" 
                                        shape="round" 
                                        style="font-weight: 900;">{{'fits' | translate}}</ion-button>
                          </ion-col>
                          <ion-col style="justify-content: center; display: flex;">
                            <ion-button   
                                      (click)="rejectCandidate(candidate.user._id)" 
                                       color="candidateko" shape="round" 
                                       style="font-weight: 900;">{{ 'no-fits' | translate}}</ion-button>
                          </ion-col>   
                        </ion-row>
                        <div *ngIf="candidate.status===candidatureStatus.PRESELECTED || candidate.status===candidatureStatus.HIRED " style="margin-right: 45px">
                          <ion-text style="white-space: normal;"><h2><a href="{{'mailto:'+candidate.user.email}}">{{ candidate.user.email }}</a></h2></ion-text>
                          <hr>
                          <input *ngIf="candidate.status===candidatureStatus.PRESELECTED" type="checkbox" id="hired" (click)="updateHiring(candidate.user._id)">
                          <input *ngIf="candidate.status===candidatureStatus.HIRED" type="checkbox" checked id="hired" (click)="updateHiring(candidate.user._id)">
                          <label for="hired" style="padding-left: 10px; white-space: normal;">{{'hired-checkbox' | translate }}</label>  
                          <hr>
                          <label style="white-space: normal;" class="{{openProcess === 'true' ? 'disable' : 'display'}}">{{'status-reassign' | translate }} <a (click)="undefineCandidate(candidate.user._id)" style="cursor: pointer; color: blue; text-decoration: underline;">{{'here' | translate }}.</a></label>  
                        </div>
                       
                        <ion-row *ngIf="candidate.status === candidatureStatus.REJECTED">
                         <label style="white-space: normal;">{{'status-reassign' | translate }}<a (click)="undefineCandidate(candidate.user._id)" style="cursor: pointer; color: blue; text-decoration: underline;">{{'here' | translate }}.</a></label>
                        </ion-row>
                        
                      </ion-label>
                    </ion-item>
              </ion-grid>
            </ion-list>
            <ion-fab *ngIf="candidate.status===candidatureStatus.PRESELECTED || candidate.status===candidatureStatus.HIRED " horizontal="end" slot="fixed" vertical="bottom">
              <ion-fab-button color="upmeup" routerDirection="root" (click)="createChat(candidate.user._id)"  lines="none" detail="false">
                <ion-icon name="chatbubble"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div></div>
  </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>