/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-row.offerList { padding-inline-start: 5%; padding-inline-end: 5%; }


.disable {
    display: none;
}

.rejected {
    --ion-background-color: #f5ddd8;
}

ion-content { 
    // --ion-background-color: #c8e3d6;
    ion-header { box-shadow: none !important; }

    ion-title { 
        font-size: 30px; 
        font-weight: 600;
        .title-offer { font-size: 28px; font-weight: 500;}
    
    }

    

    .container { 
        // --ion-background-color: #f2f2f2;

        ion-card-content { 
            padding: 0px; 
            cursor: pointer;
        
            ion-button { height: 28px; width: 105px; text-transform: capitalize; }
        }

        ion-card {            
            .user-avatar { width: 85px; min-height: 85px;}
            img.users { border-radius: 10%; }
        }  
        .fits{
            color: #88c068;
            border-color: #88c068;
        }
        .no-fits{
            color: #e95541;
            border-color: #e95541;
        }
        ion-chip {
            background-color: transparent;
            
            border-style: solid;
            border-width: 0.82px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            height: min-content;

            cursor: default;
            
           

        }
        
        
    }

    .separator { border: 1px solid #4acdba;  position: fixed; width: 95%; z-index: 2; }
    
}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
    
    ion-thumbnail { margin:0 auto; width: 110px; height: 110px; }
    img { border-radius: 50%; }
    .header-text { display:block; text-align: center; font-weight: 500; }

    .grid-info { margin: 0px 20px; font-size: 16px; font-weight: 700; }

    ion-label ion-icon { 
        width: 30px; 
        height: 30px; 
        margin: 0 10px; 
        vertical-align: bottom;
    }

    .title-offer { white-space: normal; }
    
    .custom-icon {
        height: 30px;
        

        
    }
    ion-label { vertical-align: middle; color: #5a7266; text-align: center;}
}


/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card { width: 50%; margin: 10px auto; }
    .container {
        ion-title { width: 50%; margin: 30px auto !important; }
    }
    .noEnrolled { width: 50%; margin: 0 auto !important; }
    .header-items {margin-left: 35% !important; margin-right: 25% !important;}
    ion-row.offerList { padding-inline-start: 25%; padding-inline-end: 5%; }
    
}

@media (min-width: 500px) {
    .header-items {margin-left: 15%; margin-right: 5%;}
}

@media (max-width: 500px) {
    .header-items {margin-left: 5%; margin-right: 5%;}
}

@media (max-width: 760px) {
    .modal {
        height: 500px;
        padding-top: 20%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 20%;
    }
}