<ion-header>
  <ion-toolbar color="upmeup" style="height: fit-content;">  
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <app-multilanguage></app-multilanguage> -->

  <div class="header-class">
    <ion-thumbnail >
      <div *ngIf="avatar; else elseBlock">
        <img width="100px" [src]="avatar" alt="">
      </div>
      <ng-template #elseBlock>
        <img src="./../../../assets/thumbnail.svg" />
      </ng-template>
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid >
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label> 
  </div>
  <ion-row style="position: absolute; z-index: 1; margin-top: -125px ;">
    <div class="bubble {{showOption === 1 ? '' : 'disable'}}" style="background: #D9D9D9; margin-left: 110px; ">{{'offer-deactivate-exp' | translate }}</div>
  </ion-row>
  <ion-row style="position: absolute; z-index: 1; margin-top: -125px ;">
    <div class="bubble {{showOption === 2 ? '' : 'disable'}}" style="background: #D9D9D9; margin-left: 110px; ">{{'offer-reactivate-exp' | translate }}</div>
  </ion-row> 
  <ion-row class="margin-row" style="position: absolute; z-index: 1; margin-top: -100px ; display: grid; justify-items: end; width: 100% ;">
    <div class="bubble {{showOption === 3 ? '' : 'disable'}} margin" style="background: #D9D9D9; margin-right: 30px;">{{'offer-delete-exp' | translate }}</div>
  </ion-row>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row style="padding-left: 50px; padding-top: 60px ;">
      <ion-col *ngIf="status === 'ACTIVE' || status === null" >
        <ion-button (click)="disableOffer(offerID)" color="loginbtn" shape="round" style="text-transform: none;">
          {{'offer-deactivate' | translate }}
        </ion-button>
        <ion-icon (click)="showOptions(1)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
      </ion-col>
      <ion-col *ngIf="status === 'INACTIVE'" >
        <ion-button (click)="enableOffer(offerID)" color="loginbtn" shape="round" style="text-transform: none;">
          {{'offer-reactivate' | translate }}
        </ion-button>
        <ion-icon (click)="showOptions(2)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button id="open-modal" color="loginbtn" shape="round" style="text-transform: none;">
          {{'offer-delete' | translate }}
        </ion-button>
        <ion-icon (click)="showOptions(3)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-modal trigger="open-modal" class="small-modal">
      <ng-template>
        <ion-content class="ion-padding" style="text-align: center;">
          <ion-text style="font-size: 30px; font-weight: 500;">{{'delete-conf' | translate }}</ion-text>
          <hr>
          <ion-text> {{'delete-conf-2' | translate }}</ion-text>
          <hr>
          <ion-text><strong>{{'delete-conf' | translate }}</strong></ion-text>
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="dismissModal()">{{'cancel' | translate}}</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="deleteOffer(offerID)" [strong]="true">{{'confirm' | translate}}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
    <ion-card-content>
      <h3 class="ion-padding-top" color="light">
      {{'edit-offer' | translate }}
      </h3> 
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title" style="padding-top:0 ;">
            <!-- Títol -->
            {{'title' | translate}}*
            </div></ion-label>
          <ion-input id="iTitle" formControlName="iTitle" minlength="8" maxlength="101" required></ion-input>
        </ion-item>
        <!-- Error messages -->
        <div *ngIf="errorCtr.iTitle.errors && (errorCtr.iTitle.invalid || errorCtr.iTitle.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.required">* 
            <!-- Camp requerit -->
            {{'required-field' | translate }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.minlength">* 
            <!-- Ha de tenir com a mínim 8 lletres -->
            {{'min-character' | translate: {min: 8} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.maxlength">* 
            <!-- Ha de tenir com a màxim 50 lletres -->
            {{'max-character' | translate: {max: 100} }}
          </small>
        </div>

        <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title">
            <!-- Estudis mínims -->
            {{'min-studies' | translate }}*
            </div></ion-label>
          <ion-input id="iEduLevel" formControlName="iEduLevel" minlength="3" maxlength="30" required></ion-input>
        </ion-item>      
        <div *ngIf="errorCtr.iEduLevel.errors && (errorCtr.iEduLevel.invalid || errorCtr.iEduLevel.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.required">* 
            <!-- Camp requerit -->
            {{'required-field' | translate }}
          </small>        
          <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.minlength">* 
            <!-- Ha de tenir com a mínim 3 lletres -->
            {{'min-character' | translate: {min: 3} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.maxlength">* 
            <!-- Ha de tenir com a màxim 30 lletres -->
            {{'max-character' | translate: {max: 30} }}
          </small>
        </div>

        <!-- Competències -->
        <ion-item lines="none">
          <ion-label>
            <h2 class="custom-title" style="padding-bottom: 0;">
              <!-- Competències/Habilitats -->
              {{'skills' | translate }}
              :</h2>          
            <h5 class="custom-sub">
              <!-- (selecciona almenys 4 competències) -->
              * {{'select-skills' | translate }}
            </h5>
            <h5 class="custom-sub">* {{'add-competences' | translate}}</h5>
          </ion-label>
        </ion-item>
        <ion-item class="ion-padding-top ion-padding-bottom">
          <tag-input [(ngModel)]="selectedCompet" 
                    [identifyBy]="'id'"
                    [displayBy]="'name'"
                    placeholder="+ {{'skills' | translate}}"
                    [maxItems]='20'
                    id="iCompetence"
                    formControlName="iCompetence"
                    [removable]="true"
                    [theme]="'upm-tag-theme'">
                <ng-template let-item="item">
                  {{ item.name | translate }}
                  <delete-icon (click)="removeCompetence(item)" cy-data="remove-competence"></delete-icon>
                </ng-template>
            <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'" [matchingFn]="matchCompetencies">
                <ng-template let-item="item" let-index="index">
                  {{ item.name | translate }}
                </ng-template>
            </tag-input-dropdown>
          </tag-input>
        </ion-item>

        <ion-item>
          <ion-row>
            <div style="width: 210px">
              <ion-label ><h2 class="custom-title">
              <!-- Ciutat -->
              {{'city' | translate}}
              :</h2></ion-label>
            </div>
            <div class="list list-inset input-select-container">
              <ion-select interface="action-sheet" id="iCity" formControlName="iCity" minlength="1" maxlength="80"
                placeholder="{{'select' | translate }}..." required>
                <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
              </ion-select>
            </div>   
          </ion-row>   
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label><h2 class="custom-title">
                  <!-- Model treball -->
                  {{'working-model' | translate }}
                  :</h2></ion-label>
              </div>   
              <div class="list list-inset input-select-container">
                <ion-select interface="action-sheet" id="iRemoto" formControlName="iRemoto" placeholder="{{'select' | translate }}..." required>
                  <ion-select-option value="{{'attended'}}">
                    <!-- Presencial -->
                    {{'attended' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'telecommuting'}}">
                    <!-- Teletreball -->
                    {{'telecommuting' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'hybrid'}}">
                    <!-- Híbrid -->
                    {{'hybrid' | translate}}
                  </ion-select-option>
                </ion-select>
              </div>
            </ion-row>  
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label><h2 class="custom-title">
                  <!-- Tipus Contracte -->
                  {{'contract-type' | translate }}
                  :</h2></ion-label>
              </div> 
              <div class="list list-inset input-select-container">
                <ion-select interface="action-sheet" id="iTipoContrato" formControlName="iTipoContrato" placeholder="{{'select' | translate }}..." required>
                  <ion-select-option value="{{'indefinite'}}">
                    <!-- Indefinit -->
                    {{'indefinite' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'permanent-discontinuous'}}">
                    <!-- Fix-Discontinu -->
                    {{'permanent-discontinuous' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'fixed-term'}}">
                    <!-- Durada determinada -->
                    {{'fixed-term' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'formative'}}">
                    <!-- Formatiu -->
                    {{'formative' | translate }}
                  </ion-select-option>
                </ion-select>
              </div>
            </ion-row> 
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label><h2 class="custom-title">
                  {{'required-experience' | translate }}
                  :</h2></ion-label> 
              </div>
              <div class="list list-inset input-select-container">
                <ion-select interface="action-sheet" id="iTipoContrato" formControlName="iRequiredExperience" placeholder="{{'select' | translate }}..."required>
                  <ion-select-option value="{{ RequiredExperience.JUNIOR}}">
                    {{'less-value' | translate: { value: 2 } }}
                  </ion-select-option>
                  <ion-select-option value="{{ RequiredExperience.MID}}">
                    {{'between-min-max' | translate: { min: 2, max: 6 } }}
                  </ion-select-option>
                  <ion-select-option value="{{ RequiredExperience.SENIOR}}">
                    {{'more-value' | translate: { value: 6 } }}
                  </ion-select-option>
                </ion-select>
              </div>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label><h2 class="custom-title">
                  <!-- Tipus Jornada -->
                  {{'workday-type' | translate }}
                  :</h2></ion-label>
              </div>
              <div class="list list-inset input-select-container" style="padding-left: 35px;">
                <ion-select interface="action-sheet" id="iJornada" formControlName="iJornada" placeholder="{{'select' | translate }}..." required>
                  <ion-select-option value="{{'full-time'}}">
                    <!-- Jornada Completa -->
                    {{'full-time' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'part-time'}}">
                    <!-- Parcial/Mitja Jornada -->
                    {{'part-time' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'split-day'}}">
                    <!-- Jornada Partida -->
                    {{'split-day' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'continuous-workday'}}">
                    <!-- Jornada Continua -->
                    {{'continuous-workday' | translate }}
                  </ion-select-option> 
                  <ion-select-option value="{{'hourly-rate'}}">
                    <!-- Per hores -->
                    {{'hourly-rate' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'reduced'}}">
                    <!-- Jornada Reduida -->
                    {{'reduced' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'night-shift'}}">
                    <!-- Jornada Nocturna -->
                    {{'night-shift' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'turns'}}">
                    <!-- Per torns -->
                    {{'turns' | translate }}
                  </ion-select-option>
                  <ion-select-option value="{{'holiday-only'}}">
                    <!-- Només Festius -->
                    {{'holiday-only' | translate }}
                  </ion-select-option>
                </ion-select>
              </div> 
            </ion-row>  
          </ion-item>
        </ion-list>
      
        <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title">
            <!-- Rang Salarial -->
            {{'salary-range' | translate }}
            :</div></ion-label>
          <ion-input id="iRangoSalarial" formControlName="iRangoSalarial" minlength="2" maxlength="61" required></ion-input>
        </ion-item>
        <div *ngIf="errorCtr.iRangoSalarial.errors && (errorCtr.iRangoSalarial.invalid || errorCtr.iRangoSalarial.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.required">* 
            <!-- Camp requerit -->
            {{'required-field' | translate }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.minlength">* 
            {{'min-character' | translate: { min: 2 } }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iRangoSalarial.errors.maxlength">* 
            {{'max-character' | translate: { max: 60 } }}
          </small>
        </div>

        <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title">
            <!-- Descripció -->
            {{'description' | translate }}
            :</div></ion-label>
          <ion-textarea id="iDescripcio" formControlName="iDescripcio" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
        </ion-item>      
        <div *ngIf="errorCtr.iDescripcio.errors && (errorCtr.iDescripcio.invalid || errorCtr.iDescripcio.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.required">* 
            <!-- Camp requerit -->
            {{'required-field' | translate }} 
          </small>        
          <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.minlength">* 
            <!-- Ha de tenir com a mínim 40 caràcters -->
            {{'min-character' | translate: {min: 40} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.maxlength">* 
            <!-- Ha de tenir com a màxim 600 caràcters -->
            {{'max-character' | translate: {max: 1000} }}
          </small>
        </div>
        
        <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title">
            <!-- Requisits -->
            {{'requirements' | translate}}
            :</div></ion-label>
          <ion-textarea id="iRequirements" formControlName="iRequirements" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
        </ion-item>      
        <div *ngIf="errorCtr.iRequirements.errors && (errorCtr.iRequirements.invalid || errorCtr.iRequirements.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.required">* 
            <!-- Camp requerit -->
            {{'required-field' | translate }}
          </small>        
          <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.minlength">* 
            <!-- Ha de tenir com a mínim 40 caràcters -->
            {{'min-character' | translate: {min: 40} }}
          </small>
          <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.maxlength">* 
            <!-- Ha de tenir com a màxim 600 caràcters -->
            {{'max-character' | translate: {max: 1000} }}
          </small>
        </div>

        <ion-item>
          <ion-row style="width: 100%;">
            <ion-label position="stacked"><div class="custom-title textarea-title">
              {{'additional-info' | translate }}
            :</div></ion-label>
            
            <p class="ion-text-center" style="align-items: center; margin-top: 20px;">
              <ion-button fill="solid" color="loginbtn" shape="round" >
                <label for="iFile"> {{'select-file' | translate }}</label>
              </ion-button>
            <input type="file" id="iFile" accept=".pdf" (change)="onSelectFile($event)"  style="display:none">
            <ion-card style="text-align: left;">
              <label *ngIf="filenames">{{'selected-files' | translate }}: 
                <div *ngFor="let file of filenames">
                  <ion-row>
                    <ion-col>
                      <ion-chip style="white-space: normal;">
                        <ion-label style="white-space: normal;">{{file}} </ion-label>
                      </ion-chip>
                    </ion-col>
                    <ion-col style="max-width: 30px;">
                      <delete-icon style="padding-left: 10px; " (click)="onDeleteFile(file)"></delete-icon>
                    </ion-col>
                  </ion-row>
                </div>
              </label>
              </ion-card>
            </p>
          </ion-row>
        </ion-item> 

        <p class="ion-text-center ion-padding">
          <ion-button type="submit" fill="solid" color="loginbtn" shape="round" [disabled]="!editForm.valid" cy-data="update-offer"> 
            <!-- Actualitzar  -->
            {{'update' | translate}}
          </ion-button>
          <small class="error ion-padding" *ngIf="!editForm.valid" style="color:red">{{'required-values' | translate }}</small>
          <!--<ion-button type="button" fill="solid" color="danger" shape="round" (click)="cancelEdition()"> 
            Cancel·lar
          </ion-button>-->
        </p>
      </form>
    </ion-card-content>
  </div>
</ion-content>
