
ion-content {

    .container {
        margin: auto;
        display:grid;
        gap: 40px;

        ion-title {
            font-size: 30px;
            font-weight: 500;
            padding-left: 0px;
        }

        .ion-subtitle {
            font-size: 25px;
            font-weight: 500;
        }

        ion-text {
            font-size: 18px;
        }

        .bold {

            font-weight: 900;
        }

        ion-button { 
            margin: 30px 15px; 
            font-weight: bold; 
            height: 40px; 
            text-transform: none; 
            white-space: normal;
        }

    }

    @media screen and (max-width: 800px) {
        .container {
            margin-left: auto;
            margin-right: 10px;
            
        }
        
    }
}

.header-class { 
    background-color: var(--ion-color-upmeup);
    
    .head-line { border: 3px #c8e3d6 solid; }
    
    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; width: 130px; height: 130px}
    .header-text { display: block; text-align: center; }

    ion-label ion-icon { 
        width: 35px; 
        height: 35px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
    
}