<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
  <ion-buttons slot="start">
    <ion-back-button *ngIf="userType === '1'" color="light" defaultHref="/user-profile"></ion-back-button>
    <ion-back-button *ngIf="userType === '2'" color="light" defaultHref="/company-profile"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="userInfo">
    <div class="header-class">
        <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center;">
          <ion-thumbnail class="avatar-center">
            <div *ngIf="avatar; else elseBlock">
              <img width="130px" [src]="avatar" alt="">
            </div>
            <ng-template #elseBlock>
              <img width="130px" src="./../../../assets/avatar.svg" />
            </ng-template>
          </ion-thumbnail>
        </div>
        <ion-label class="header-text">
          <ion-grid class="ion-padding-top ion-padding-bottom">
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-title> <ion-label class="title-offer" style="font-weight: 500;">
                    {{ userInfo.name }} {{userInfo.surname}}
                    <h3>
                      <!-- de -->
                      {{'from' | translate }}
                      {{userInfo.city | translate}}
                    </h3>
                  </ion-label>
                </ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </div>
    <div class="container"> 
        <ion-row style="display: grid; justify-content: center;">
            <ion-col>
                <ion-button color="loginbtn" shape="round" href="legal-info">{{'legal-info' | translate }}</ion-button>
            </ion-col>
        </ion-row> 
    </div>
</ion-content>
<app-menu-mobile></app-menu-mobile>