div {
    background-color: transparent;
    display: grid;
    gap: 22px;
    grid-auto-flow: column;
    justify-content: left;
    margin: 13px 0px 13px 22px;
}

button {
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
}