<div [style.position]="position">
    <button [style.color]="color" (click)="useLanguage('es')">es</button> 
    <button [style.color]="color" (click)="useLanguage('cat')">cat</button>
    <button [style.color]="color" (click)="useLanguage('eus')">eus</button>
    <button [style.color]="color" (click)="useLanguage('en')">en</button>
</div>
    