<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
  <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/all-projects-list"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content fullscreen={true}>
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-bottom">
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label> 
  </div>
  <ion-row class="offerList ion-padding-top"  >
    <ion-col size="fit-content"  style="padding-bottom: 0px;">
      <ion-title class="ion-padding-top ion-padding-bottom" style="padding-left: 10px;">
        <ion-label class="ion-text-wrap">
        {{'my-projects' | translate }}
        </ion-label>
      </ion-title>
    </ion-col>
    <ion-col class="padding-top" style="padding-left: 5px;">
      <ion-fab-button size="small" color="loginbtn" (click)="createModal()" cy-data="add-offer">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-row class="padding">
      <ion-col style="max-width: fit-content; padding-top: 15px;">
        <ion-label style="padding-right: 15px; white-space: nowrap;">{{'show' | translate}}: </ion-label>
      </ion-col>
      <ion-col>
        <ion-chip (click)="getAllProjects('all')">{{'all' | translate }}</ion-chip>
        <ion-chip (click)="getAllProjects('owned')">{{'created-by-me' | translate}}</ion-chip>
        <ion-chip (click)="getAllProjects('shared')">{{'shared-with-me' | translate}}</ion-chip>
        <ion-chip (click)="getAllProjects('inactive')">{{'project-inactive-p' | translate }}</ion-chip>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-row class="offerList" *ngIf="adminProjects.length === 0 && sharedProjects.length !== 0">
    <ion-label style="padding-left: 15px;">{{'no-project' | translate}} </ion-label>
  </ion-row>
  <ion-row class="offerList" *ngIf="sharedProjects.length === 0">
    <ion-label style="padding-left: 15px;">{{'no-admin-projects' | translate }} </ion-label>
  </ion-row>

  <ion-row class="offerList" style="padding-bottom: 10%;">
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" *ngFor="let project of adminProjects">
      <ion-card (click)="goProjectDetail(project)" style="cursor: pointer;">
        <ion-row style="display: flex; text-align: left;">
          <ion-col style="max-width: fit-content; padding-left: 10px">
            <div *ngIf="project.state === 'INACTIVE'" style="padding-top: 10px; padding-right: 10px; text-align: left; " >
            <img style="width: 20px; height: 20px; margin-bottom: 10px;" src="../../../assets/icons/Union-ico-blue.png">   
            <ion-label style=" padding-left: 5px; font-size: 16px;"> {{'project-inactive' | translate }} </ion-label></div>
          </ion-col>
          <ion-col>
            <div *ngIf="project.userId === userInfo?._id" style="padding-top: 10px; padding-right: 10px; text-align: right; " >
          <img style="width: 20px; height: 20px; margin-bottom: 10px;" src="../../../assets/icons/Union-ico-blue.png">   
          <ion-label style=" padding-left: 5px; font-size: 16px;"> {{'created-by-me-sing' | translate}} </ion-label></div>
          </ion-col>
         
          
          
        </ion-row>
        
        <ion-list lines="none" class="offers">
          <ion-item style="padding-bottom: 0; padding-left: 0 ;">
            <ion-label size="8">
              <h2 class="custom-text-space title-color"> {{ project.title }} </h2>
              <ion-row>
                <ion-col class="custom-text-space" size="6" style="padding-left: 0px;">
                  <ion-text color="dark">
                    <p> {{ project.createdDate | date: 'dd/MM/yyyy' }} </p>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="project.city" class="custom-text-space" size="6" style="justify-content: right; display: flex; word-break: break-word;">
                  <ion-text color="dark">
                    <p><b>{{ project.city | translate }}</b><ion-icon name="location-outline"></ion-icon></p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-text>{{'status' | translate }}: </ion-text>
                <ion-text class="custom-text-space" color="medium" style="padding-left: 10px;"> 
                  {{ project.status | translate }}
                </ion-text>
              </ion-row>
              <ion-row >
                <ion-text *ngIf="project.sector.length > 1; else elseBlock">{{'sectors' | translate }}: </ion-text>
                <ng-template #elseBlock>{{'sector' | translate }}: </ng-template>
                <ion-text class="custom-text-space" color="medium" *ngFor="let sector of project.sector" style="padding-left: 10px;"> 
                  {{ sector.name | translate }}.
                </ion-text>
              </ion-row>
            </ion-label>
          </ion-item>
          <div class="separator"></div>
          <ion-item style="margin-top:5px">
            <ion-label style="padding-right: 60px;">{{project.description}}</ion-label>
            <ion-fab horizontal="end">
              <ion-fab-button color="loginbtn" (click)="editModal(project._id, $event)" size="small"> <ion-icon
                  name="create-outline"></ion-icon> </ion-fab-button>
            </ion-fab>
          </ion-item>
          

        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
<app-menu-mobile></app-menu-mobile>
