
ion-content {

    .container {
        margin: 40px 150px;
        max-width: 1200px;
        display:grid;
        gap: 40px;

        h2 {
            font-size: 30px;
            font-weight: 500;
            padding-left: 0px;
            display: grid;
            padding-right: 10px;
            text-align: center;
          
            
        }

        .ion-subtitle {
            font-size: 25px;
            font-weight: 500;
        }

        ion-text {
            font-size: 18px;
        }

        .bold {

            font-weight: 999;
        }

    }

    @media screen and (max-width: 1200px) {
        .container {
            margin-left: 40px;
            margin-right: 10px;
            
        }
        
    }

}