<ion-header class="ion-no-border" *ngIf="auth.isLogged()">
    <ion-toolbar color="upmeup">
      <ion-buttons slot="start" class="desktop">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="logOut()">
          <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>