@media (min-width: 800px){
    .mobile {
        display: none;
    }
  }
  
  
  @media (max-width: 800px){
    .desktop {
        display: none;
    }
  }

  ion-footer {

    ion-toolbar{ 
      padding-top: 10px;

        
      ion-icon { 
        width: 30px; 
        height: 30px; 
        vertical-align: middle;       
      }

  
      ion-col ion-row {
          text-align: center;
          justify-content: center;
          margin-bottom: 10px;
      }
  
    }
    
  }