<ion-footer class="mobile" *ngIf="auth.isLogged()">
    <ion-toolbar>
      <ion-grid style="padding-left: 0px; padding-right: 0px;"> 
        <ion-row>
        <ion-col *ngIf="userType === '1'" style="cursor: pointer;">
          <div routerDirection="root" [routerLink]="['/user-profile']" lines="none" detail="false">
            <ion-grid>
              <ion-row>
                <ion-icon class="user-ico"></ion-icon>
              </ion-row>
              <ion-row>
                <ion-label style="font-size: 12px;">{{'profile' | translate}}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col> 

        <ion-col *ngIf="userType === '2'" style="cursor: pointer;">
            <div routerDirection="root" [routerLink]="['/company-profile']" lines="none" detail="false">
              <ion-grid >
                <ion-row class="icon">
                  <ion-icon class="user-ico"></ion-icon>
                </ion-row>
                <ion-row class="label">
                  <ion-label style="font-size: 12px;">{{'profile' | translate}}</ion-label>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col> 
     
        <ion-col *ngIf="userType === '1'" style="cursor: pointer;">
          <div routerDirection="root" [routerLink]="['/offer-list']" lines="none" detail="false">
            <ion-grid  >
              <ion-row class="icon">
                <ion-icon class="ofertas-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'offers' | translate }}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

        <ion-col *ngIf="userType === '2'" style="cursor: pointer;">
          <div routerDirection="root" [routerLink]="['/company-offer']" lines="none" detail="false">
            <ion-grid>
              <ion-row class="icon">
                <ion-icon class="ofertas-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px; word-break: break-all;">{{'offers' | translate }}</ion-label>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

        <ion-col  style="cursor: pointer;">
          <div routerDirection="root" [routerLink]="['/all-projects-list']" lines="none">
            <ion-grid >
              <ion-row class="icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label  *ngIf="userType === '1'" style="font-size: 12px;">{{'undertake' | translate }}</ion-label>
                <ion-label  *ngIf="userType === '2'" style="font-size: 12px;">{{'projects' | translate }}</ion-label>
              </ion-row>
            </ion-grid> 
          </div>
        </ion-col>
  
        <ion-col style="cursor: pointer;">
          <div lines="none" (click)="openModal(template)"  >  
            <ion-grid>
              <ion-row class="icon">
                <ion-icon class="idioma-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                 <ion-label style="font-size: 12px; white-space: normal; word-break: break-all;">{{'language' | translate }}</ion-label>
              </ion-row>
            </ion-grid>    
          </div> 
          <ng-template #template>
            <div > 
              <app-multilanguage [position]="'relative'" [color]="'black'"></app-multilanguage>
            </div>
          </ng-template>
        </ion-col>

        <ion-col style="cursor: pointer;">
          <div routerDirection="root" [routerLink]="['/legal-info']" lines="none">
            <ion-grid >
              <ion-row class="icon">
                <ion-icon class="union-ico"></ion-icon>
              </ion-row>
              <ion-row class="label">
                <ion-label style="font-size: 12px;">{{'info' | translate }}</ion-label>
              </ion-row>
            </ion-grid> 
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>    
    </ion-toolbar>
  </ion-footer>