ion-content { 

    .disable {
        display: none;
    }
    
	ion-header { box-shadow: none !important; }

    ion-title { 
        font-size: 30px; 
        font-weight: 600;
        .title-offer { font-size: 28px; font-weight: 500;}  
    }
	
	.container {

        .center-class { text-align: center; }  
		
		ion-card.content-info { 
            margin: 10px auto;  
            border-radius: 0; 
            max-width: 1000px;
            
           
            .user-avatar { width: 85px; min-height: 85px;}
            img.users { border-radius: 10%; }
            @media(max-width: 500px){
                .user-avatar { display: none; }
            }
            

            ion-button { 
                margin: 30px 15px; 
                font-weight: bold; 
                height: 40px; 
                text-transform: capitalize; 
                
                .edit-btn { margin: 0 !important; }
                span { color: white; }
            }
        }


		ion-card-content {
            h4.margin { margin: 30px;} 
            .custom-title { color: #466B6E; font-weight: 500; font-size: 20px; text-transform: uppercase;}
            .custom-subtitle { color: gray; font-weight: 500; font-size: 20px; }
        }
        
        ion-fab-button { width: 45px; height: 45px; box-shadow: none !important; } 
        .margin-fab-btn { margin: 15px 50px; }
        
        .exp-title {
            h3 { font-weight: bold; margin-top: 25px;} 
            h5 { margin-bottom: 25px;} 
        }

        ion-label ion-chip {
            background-color: white;
            color: #9FC6BA;
            font-size: 16px;
            font-weight: 500;
            height: min-content;
            text-align: left;
            border-color: #9FC6BA;
            border-style: solid;
            border-width: 0.82px;
            border-radius: 49px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 39px;
            padding-right: 39px;
            cursor: default; 
        }

        .separator { border: 1px solid #4acdba;  position: fixed; width: 85%; z-index: 2; }
	}

	.text-space { white-space: normal; }

	.custom-icon {
       
		ion-icon { 
			width: 25px; 
			height: 25px; 
			vertical-align: middle; 
		}
	 
		ion-label { color: #5a7266; }
		span { margin-left: 5px; font-size: 16px; }
	}
}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
	padding-top: 5px;

	.head-line { border: 3px #c8e3d6 solid; }

    ion-thumbnail { margin:0 auto; width: 110px; height: 110px; }
    img { border-radius: 50%; }
    .header-text { display: block; text-align: center; font-weight: 500;}
	.text-no-valors { display: block; text-align: center; font-size: 16px; }

    .grid-info { margin: 0px 10% 0px; font-size: 16px; }

	ion-label ion-icon { 
        width: 35px; 
        height: 35px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
	.custom-icon { 
		ion-label { color: #5a7266; }
		span { margin-left: 5px; font-size: 16px; }
	}
}

/**
*** Web Responsive style@media (max-width: 1020px) {
    ion-list { width: 80%; margin: 10px auto; } 
    .offer-avatar { width: 80px; height: 80px; }
    img.offers { margin-left: -20%;  }    
}
**/
@media (min-width: 1020px) {
      

	ion-content {
		.container {
			ion-card-content {  padding: 30px; }
            margin-left: 20%;
            margin-right: 20%;
		}
	}
    ion-row.offerTitle {padding-inline-start: 20%; padding-inline-end: 5%;}
}

@media (max-width: 1020px) {

    ion-row.offerTitle {padding-inline-start: 5%; padding-right: 5%;}
    ion-row.offerList { padding-inline-start: 5%; padding-right: 5%; display: grid;} 
    ion-card { max-width: 500px; margin: 10px}
    

    
    
}