<ion-header class="ion-no-border">
    <app-toolbar></app-toolbar>
    <ion-toolbar color="upmeup">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/project-list"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="project">
    <div class="header-class">   
      <ion-thumbnail class="avatar-center" style="cursor: pointer;" >
        <img *ngIf="project.user.avatarB64" class="profile" [src]="project.user.avatarB64" />
        <img *ngIf="!project.user.avatarB64" class="profile" src="./../../../assets/thumbnail.svg" />
      </ion-thumbnail> 
      <ion-label class="header-text">
        <ion-grid class="ion-padding-top ion-padding-bottom">
          <ion-row style="cursor: pointer;">
            <ion-col class="ion-text-center"> 
              <ion-title> 
                <ion-label class="title-offer" color="dark">{{ project?.user?.name }}</ion-label>       
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>

      <ion-grid class="grid-info">
        <div class="ion-padding-top ion-padding-bottom" style="text-align: center; ">
          <ion-row>
            <ion-col size="6" *ngFor="let skill of project.softSkills">
              <div class="custom-icon">
                <ion-label class="title-offer">
                  <ion-icon class="{{skill.name}} custom-icon"></ion-icon>
                  <span style="hyphens: auto;"><b>{{ skill.name | translate}}</b></span>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      

      <div class="head-line"></div>
    </div>
    <ion-row class="offerTitle ion-padding-top" >
      <ion-col size="fit-content">
        <ion-title class="ion-padding-top ion-padding-bottom" 
                  style="padding-right: 10px; padding-left: 10px; word-wrap: anywhere"><ion-label style=" white-space: normal;">
                     {{ project.title }} 
                  </ion-label>
        </ion-title> 
      </ion-col>
      <ion-col class="padding-top" style="padding-left: 5px;" *ngIf="isAdmin === 'true'" >
          <ion-fab-button color="loginbtn" (click)="editModal()" size="small"> <ion-icon
            name="create-outline"></ion-icon> </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row class="offerTitle">
      <ion-col style="max-width: fit-content; padding-left: 20px">
        <div *ngIf="project.state === 'INACTIVE'" style="padding-top: 10px; padding-right: 10px; text-align: left; " >
          <ion-icon style="width: 25px; height: 25px; color: crimson; padding-top: 5px;" name="alert-circle-outline"></ion-icon>   
          <ion-label style=" padding-left: 5px; font-size: 16px; color:crimson; vertical-align: super;"> {{'project-inactive' | translate }} 
            <ion-label style="text-transform: lowercase;">({{'project-inactive-exp' | translate}})</ion-label>  
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    

    <div class="container" >
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{ 'description2' | translate }} </h2>
            </ion-col>
            <ion-row>
              <ion-col size="12">                  
                  <b> {{ project?.description }} </b>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="container" >
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{'details' | translate }}: </h2>
            </ion-col>
            <ion-row>
              <ion-col size="12">               
                <div class="custom-icon">                
                  <ion-icon class="enrolled-ico custom-icon"></ion-icon>
                  <span><b> {{'members-number' | translate }}: {{project?.admins.length}} </b></span>
                </div>                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="custom-icon">
                  <ion-icon class="calendar-ico custom-icon"></ion-icon>
                  <span><b> {{'created-date' | translate }}: {{ project.createdDate | date: 'dd/MM/yyyy' }} </b></span>
                </div>
              </ion-col>
            </ion-row>   
            <ion-row *ngIf="project?.city">
              <ion-col size="12">  
                <div class="location-ico custom-icon">
                  <ion-icon class=" custom-icon"></ion-icon>
                  <span><b> {{'city' | translate }}: {{ project?.city | translate }} </b></span> 
                </div>
              </ion-col>
            </ion-row>  
            <ion-row *ngIf="project.sector.length > 1">
              <ion-col size="12" style="vertical-align: center;">  
                <div class="organization custom-icon">
                  <ion-icon class=" custom-icon"></ion-icon>
                  <span><b> {{'sectors' | translate }}: </b></span>
                </div>
              </ion-col>     
              <ion-col>
                <div class="center-class" >  
                  <ion-label>
                    <h4 class="margin">
                      <ion-chip *ngFor="let sector of project.sector">
                        {{ sector.name | translate }}
                      </ion-chip>
                    </h4>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="project.sector.length == 1" >
              <ion-col size="12">  
                <div class="organization custom-icon">
                  <ion-icon class=" custom-icon"></ion-icon>
                  <span *ngFor="let sector of project.sector"><b> {{'sector' | translate }}: {{ sector.name | translate }} </b></span> 
                </div>
              </ion-col>
            </ion-row>  
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- <div class="container" >
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{ 'values' | translate }} </h2>
            </ion-col>
            <div class="center-class" >  
              <ion-label>
                <h4 class="margin">
                  <ion-chip *ngFor="let skill of project.softSkills">
                    <ion-label> {{ skill.name | translate }} </ion-label>
                  </ion-chip>
                </h4>
              </ion-label>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div> -->
  
    <div class="container" >
      <ion-card class="content-info" style=" justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">  
              <h2 class="custom-title"> {{'skills' | translate }} </h2>
            </ion-col>
            <div class="center-class" >  
              <ion-label>
                <h4 class="margin">
                  <ion-chip *ngFor="let compet of project.competencies">
                    <ion-label> {{ compet.name | translate }} </ion-label>
                  </ion-chip>
                </h4>
              </ion-label>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="container" *ngIf="isAdmin !== 'true'">
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid class="ion-padding-bottom">
            <ion-col size="12">
              <h2 class="custom-title"> {{'compatibility-level' | translate }}: </h2>
            </ion-col>
            <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="match"
              style="pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
                <div slot="start">
                  <h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{match}}%</h3>
                </div>
            </ion-range> 
          </ion-grid>               
        </ion-card-content>
      </ion-card>
    </div>
    
  
    <!-- Additional info -->
    <div class="container" style="padding-bottom: 40px;" *ngIf="project.files.length != 0">
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{'additional-info' | translate }} </h2>
            </ion-col>
            <ion-row>
              <ion-col size="12">                  
                  <ul *ngFor="let file of project.files"> - {{file}} <a style="color: blue; cursor: pointer; text-decoration: underline;" (click)="onDownloadFile(projectID, file)">[{{'download' | translate }}] </a></ul>              
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="container" *ngIf="isAdmin === 'true'">
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{'interested-users' | translate }} </h2>
            </ion-col>
            <div class="container" style="margin-left: 0px;" >
              <div class="noEnrolled ion-padding" *ngIf="enrolledUsersInfo.length === 0">
                <ion-label>
                  <ion-text color="medium"> 
                    {{'no-interested-users' | translate }}   
                  </ion-text>
                </ion-label>
              </div>
              <ion-row *ngIf="project" class="offerList" style="padding-bottom: 10%; ">
                <ion-col>
                  <ion-card class="content-info" *ngFor="let candidate of enrolledUsersInfo" style="justify-items: left; max-width: 800px;" >
                    <ion-card-content style="padding-left: 0px;">
                      <ion-list lines="none" style="padding-top: 0px;">
                        <ion-grid style="padding-top: 0px;">
                          <ion-item>   
                            <ion-thumbnail class="user-avatar" slot="start">
                              <img *ngIf="candidate.avatarB64" class="users" [src]="candidate.avatarB64" />
                              <img *ngIf="!candidate.avatarB64" class="users" src="./../../../assets/avatar.svg" />
                            </ion-thumbnail>
                            <ion-label>
                              
                              <ion-label style="white-space: normal;">
                                <h2 class="title-color" style="word-break: break-all;"> {{candidate.name}} 
                                  <ion-label *ngIf="candidate.surname !== '-'" style="white-space: normal; word-break: break-word;">{{candidate.surname}}</ion-label> 
                                  <ion-label (click)="goCandidateProfile(candidate._id)" style="font-weight: bolder; text-decoration: underline; cursor: pointer; word-break: break-all; white-space: normal;"> ({{'go-to-profile' | translate }}) </ion-label>
                                </h2>
                              </ion-label>

                                <ion-label color="medium" style="white-space: normal;">
                                  <span style="word-break: break-all;">
                                    <ion-icon name="location-outline"></ion-icon> {{ candidate.city | translate }}
                                  </span>
                                </ion-label>

                              <ion-label color="medium" style="white-space: normal;">
                                <span>
                                  <ion-icon name="newspaper-outline"></ion-icon> 
                                  <ion-text style="white-space: normal; margin-left: 5px; word-break: break-word;" *ngFor="let sector of candidate.sector">{{ sector.name | translate }}.</ion-text>
                                </span>
                              </ion-label>
                              <!-- <div class="separator"></div> -->
                              <!-- <ion-range 
                                labelPlacement="start" 
                                [min]=0 
                                [max]=100 
                                [value]="candidate.match.total" 
                                style="pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
                                <div slot="start"><h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{candidate.match.total}}%</h3></div>
                              </ion-range> -->
                      
                              
                            </ion-label>
                          </ion-item>
                        </ion-grid>
                      </ion-list>
                      <ion-fab horizontal="end" slot="fixed" vertical="bottom">
                        <ion-fab-button color="upmeup" routerDirection="root" (click)="createChat(candidate._id)"  lines="none" detail="false">
                          <ion-icon name="chatbubble"></ion-icon>
                        </ion-fab-button>
                      </ion-fab>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <div></div>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="container {{project?.admins.length === 1 && userID == project.user._id ? 'disable' : ''}}" style="padding-bottom: 40px;">
      <ion-card class="content-info" style="justify-items: left; width: 100%;">
        <ion-card-content>
          <ion-grid>
            <ion-col size="12">
              <h2 class="custom-title"> {{'administrators' | translate }} </h2>
            </ion-col>
            <div class="container" style="margin-left: 0px;" >
            
              <ion-row *ngIf="project" class="offerList" style="padding-bottom: 10%; ">
                <ion-col>
                  <ion-card class="content-info" *ngFor="let admin of adminsInfo" style="justify-items: left; max-width: 800px;" >
                    <ion-card-content style="padding-left: 0px;">
                      <ion-list lines="none" style="padding-top: 0px;">
                        <ion-grid style="padding-top: 0px;">
                          <ion-item>   
                            <ion-thumbnail class="user-avatar" slot="start">
                              <img *ngIf="admin.avatarB64" class="users" [src]="admin.avatarB64" />
                              <img *ngIf="!admin.avatarB64" class="users" src="./../../../assets/avatar.svg" />
                            </ion-thumbnail>
                            <ion-label>
                              
                              <ion-label style="white-space: normal;">
                                <h2 class="title-color" style="word-break: break-all;"> {{admin.name}} 
                                  <ion-label *ngIf="admin.surname !== '-'" style="white-space: normal; word-break: break-word;">{{admin.surname}}</ion-label> 
                                  <ion-label (click)="goCandidateProfile(admin._id)" style="font-weight: bolder; text-decoration: underline; cursor: pointer; word-break: break-all; white-space: normal;"> ({{'go-to-profile' | translate }}) </ion-label>
                                </h2>
                              </ion-label>

                              <ion-label color="medium" style="white-space: normal;">
                                <span style="word-break: break-all;">
                                  <ion-icon name="location-outline"></ion-icon> {{ admin.city | translate }}
                                </span>
                              </ion-label>

                              <ion-label color="medium" style="white-space: normal;">
                                <span>
                                  <ion-icon name="newspaper-outline"></ion-icon> 
                                  <ion-text style="white-space: normal; margin-left: 5px; word-break: break-word;" *ngFor="let sector of admin.sector">{{ sector.name | translate }}.</ion-text>
                                </span>
                              </ion-label>  

                            </ion-label>
                          </ion-item>
                        </ion-grid>
                      </ion-list>
                      <ion-fab *ngIf="(admin._id !== userID && isEnrolled !== -1) || (isAdmin == 'true' && admin._id !== userID)" horizontal="end" slot="fixed" vertical="bottom">
                        <ion-fab-button color="upmeup" routerDirection="root" (click)="createChat(admin._id)"  lines="none" detail="false">
                          <ion-icon name="chatbubble"></ion-icon>
                        </ion-fab-button>
                      </ion-fab>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <div></div>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  
    <!-- Sign-in button -->
    <div *ngIf="isAdmin !== 'true' && isEnrolled === -1" class="container" style="position: sticky; bottom: 20px;">
      <ion-button size="medium" color="danger" expand="full" shape="round" style="padding-right: 20%; padding-left: 20%;"
        (click)="addEnrroled(project._id, project.title)">
            {{'interested' | translate }}
      </ion-button>      
    </div>
    <div *ngIf="isAdmin !== 'true' && isEnrolled !== -1" class="container" style="position: sticky; bottom: 20px;">
      <ion-button size="medium" color="danger" expand="full" shape="round" style="padding-right: 20%; padding-left: 20%;"
      (click)="removeCandidatures(project._id, project.title)">
        {{'remove' | translate }}
      </ion-button>   
   </div>    
  </ion-content>
  <app-menu-mobile></app-menu-mobile>
