/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content {
    

    .container {
        background-color: #F9F8F8;


        .custom-title { color: black; padding-top: 20px; padding-bottom: 30px; white-space: normal;}
        .custom-sub { font-size: 12px; }
        .textarea-title { font-size: 22px; }
        .custom-text { font-size: 15px; }
        .custom-button {
            font-size: 14px;
            padding: 0px;
        }
        .select-btn-label {
            padding: 15px;
        }
        
        ion-select { 
            max-width: 75%; 
            --placeholder-opacity: 100%;
        }

        ion-card { box-shadow: none !important;  }

        ion-title { 
            color: black; 
            font-weight: bolder; 
            padding-left: 15px; 
            font-size: 30px;
        }

        ion-label {
            .header-text {
                color: black;
            }
        }

        .input-select-container {
            background: #FFF;
            border-radius: 60px;
            text-align: center;
            padding-left: 40px;
            font-size: 14px;
            width: 230px;        
            height: 40px; 
            color: #349388;
        }

        ion-item {--ion-item-background: #F9F8F8; --background-hover: none;}

        ion-list { background-color: #F9F8F8;}

        ion-card-content { padding-left: 60px; padding-right: 60px;}

        ion-chip {
            background-color: white;
            color: #9FC6BA;
            border-color: #9FC6BA;
            border-style: solid;
            border-width: 0.82px;
            border-radius: 49px;
            font-size: 16px;
            font-weight: 500;
            height: min-content;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 39px;
            padding-right: 39px;
            cursor: default;
        }

        delete-icon.span.svg {
            vertical-align: middle !important; 
            height: 15px !important;
        }




    }
}

ion-header { 

    .header-class { 
        background-color: var(--ion-color-upmeup);
        padding-bottom: 15px;
        text-align: center;

        ion-thumbnail { margin:0 auto; width: 100px; height: 100px; }
        img { border-radius: 50%; }
        

        .title-offer { white-space: normal; font-size: 28px; }
        
    }
}

@media (max-width: 320px) {
    ion-content {
        .container{
            .input-select-container {
                padding-left: 0px;
                display: flex;
                flex-direction: row;
                width: 165px;
                justify-content: center;
            }
            
            ion-select {
                .select-container{
                    max-width: 90%;
                    display:flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
        ion-item {
            .div-item-container {
                width: 100%,
            }
        }
 
    }
    
}
@media (max-width: 700px){
    ion-item {
        ion-row {
            margin-bottom: 10px;
        }
    }
    ion-content {
        .container {
        ion-card-content { padding-left: 20px; padding-right: 20px;}
        .custom-button {
            white-space: normal;
            font-size: 12px;
            padding: 8px;
            height: fit-content;
        }
        .select-btn-label {
            padding: 10px;
        }
    }
    }
}

