/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-row.offerList { padding-inline-start: 5%; padding-inline-end: 5%; }

.v-line {
    border-left:  solid var(--ion-color-loginbtn);
    margin-top: 15px;
    padding-top: 5px;
}


ion-content { 
    // --ion-background-color: #c8e3d6;
    ion-text { font-size: 16px;}

    .subtitle { color: var(--ion-color-loginbtn); }
    

    ion-title { 
        font-size: 30px; 
        font-weight: 600;
        .title-offer { font-size: 28px; font-weight: 500;}
    
    }
    
    .container{
        // --ion-background-color: #c8e3d6;
        width: 100%;
        ion-item { 
            --ion-background-color: white; 
            padding-bottom: 5px; 
            
        }

        .text-block { display: block; margin-top: 15px; }
        .title-color {font-size: 20px; font-weight: 500;}
        
        ion-card-content { padding: 0; }

        p {
           font-size: 16px; font-weight: 500; 
        }

        .custom-text-space { white-space: normal; }
        .separator { border: 1px solid #4acdba; margin: -5px 0 0px 0px; position: fixed; width: 130%; z-index: 2; }
        
    }

    // .offer-avatar { margin: 10%; margin-bottom: 10% ; margin-top: 10%; margin-right: 10%;}
    img.offers { border-radius: 10%;}
    ion-list.offers{width: 100%; margin-bottom: 0; padding: 0;}

    .alert-radio-group.sc-ion-alert-md {
        max-height: 100%;
    }

    
}

.header-class { 
    background-color: var(--ion-color-upmeup);
    
    .header-text { 
        display: block; 
        text-align: center; 
        font-weight: 500;
    }

    .avatar-center { margin:0 auto; width: 110px; height: 110px;  }

    ion-thumbnail img { border-radius: 50%; margin-left: 10px; }
    .title-offer {white-space: normal; }
}



/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    
    ion-card { width: 500px; }
    ion-list { 
        max-width: 1300px; 
        padding-left: 20%;
        padding-right: 50px;
     } 
     
     
    ion-row.offerList { padding-inline-start: 20%; padding-inline-end: 5%;}  
    ion-row.offerTitle {padding-inline-start: 20%; padding-inline-end: 5%;}
    .offer-avatar { width: 100px; height: 100px; }
    
}

@media (max-width: 1020px) {
    ion-list { 
        padding-left: 5%;
        padding-right: 10%;
        // margin: 10px auto; 
    } 
    ion-row.offerTitle {padding-inline-start: 5%; padding-right: 5%;}
    ion-row.offerList { padding-inline-start: 2%; padding-right: 2%;} 
    ion-card { max-width: 500px;}
    
    .offer-avatar { width: 70px; height: 70px;}
    img.offers { margin-right: 0; margin-top: 0; }
    ion-thumbnail { text-align: center; }
    
    
}