<ion-header class="ion-no-border">
  <!--<ion-toolbar color="upmeup">
    <ion-button shape="round" size="small" slot="end" color="warning" (click)="loadModalPwa($event)">Instal·lar App</ion-button>
  </ion-toolbar>-->
  <app-multilanguage></app-multilanguage>
</ion-header>

<ion-content>
  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row >
          <ion-col >
            <div class="content-logo">
              <img src="/assets/UpMeUp-logo.png" alt="UpMeUp logo">
            </div>           
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form [formGroup]="initForm" (ngSubmit)="submitForm()" novalidate>
              <div class="error-box" *ngIf="isSubmitted && !userExist">
                <ion-label color="danger" class="text-error">
                  <!-- Usuari i/o contrasenya no són correctes -->
                {{'wrong-credentials' | translate}}
                </ion-label>
                <hr style="height: 0px; margin: auto">
                <ion-label color="danger" class="text-error">
                  <!-- Usuari i/o contrasenya no són correctes -->
                {{'check-cap' | translate}}
                </ion-label>
              </div>
              
              <div class="list list-inset input-container">
                <input class="native-input sc-ion-input-md" type="text" placeholder="{{'email' | translate }}" id="userEmail" formControlName="userEmail" required>
              </div>

              <div class="list list-inset input-container" style="padding-right: 30px;">
                <label >
                  <ion-row> 
                    <ion-col size="10" class="item item-input">
                      <input class="native-input sc-ion-input-md" type="password" placeholder="{{'password' | translate }}" id="userPassword" formControlName="userPassword" required>
                    </ion-col>
                    <ion-col style="text-align: end; padding-top: 8px" >
                      <ion-icon class="eye-ico" (click)="showPass()"></ion-icon>
                    </ion-col>
                  </ion-row>  
                </label>
              </div>
                                  
              <ion-button type="submit" fill="solid" color="loginbtn" [disabled]="!initForm.valid"> 
                <!-- Inicia sessió -->
              {{'sign-in' | translate }}
              </ion-button>
                
            </form>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <div *ngIf="error">
              Error :(
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <a [routerLink]="['/password-reset']" class="small-text">
                <!-- Registra't -->
                {{'forgot-password' | translate }}
              </a>
            </ion-label>
          </ion-col>
        </ion-row>
        
        <div class="h-divider">
          <span color="light"> O </span>
        </div>
        
        <ion-row>
          <ion-col>
            <ion-label color="light">
              <h4> 
                <!-- Encara no estàs registrat?  -->
                {{'non-registered' | translate}}
                <a [routerLink]="['/welcome']" class="small-text">
                  <!-- Registra't -->
                  {{'register' | translate }}
                </a></h4>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </ion-slide>

</ion-content>
 