<ion-app>

    <ion-split-pane when="(min-width: 5040px)" contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-menu-toggle style="display: grid; justify-content: right; cursor: pointer;">
        <ion-icon style="font-size: 30px;" name="close-outline"></ion-icon>
      </ion-menu-toggle>

      <ion-content>
        <ion-list>
          <ion-item style="margin-bottom: 45px;">
            <ion-label> <h1 style="font-weight: 500;">{{ userName }}</h1> </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [icon]="p.icon + '-outline'" color="black" style="width: 30px; height: 30px;"></ion-icon>
              <ion-label> {{p.title | translate}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerDirection="root" [routerLink]="['/all-projects-list']" lines="none" detail="false">
            <ion-icon slot="start" name="rocket-outline" color="black" style="width: 30px; height: 30px;"></ion-icon>
            <ion-label *ngIf="userType === '1'"> {{'undertake' | translate }} </ion-label>
            <ion-label *ngIf="userType === '2'"> {{'projects' | translate }} </ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerDirection="root" [routerLink]="['/legal-info']" lines="none" detail="false">
            <ion-icon slot="start" class="union-ico" color="black" style="width: 30px; height: 30px;"></ion-icon>
            <ion-label> {{'info'| translate}} </ion-label>
          </ion-item>
          </ion-menu-toggle>
          
        </ion-list>
      </ion-content>

      <div style="border-top: solid 1px black; border-bottom: solid 1px black;">
        <app-multilanguage [position]="'relative'" [color]="'black'"></app-multilanguage>
      </div>
      <ion-item>
        <ion-icon slot="start" color="upmeup" name="power"></ion-icon>
        <button (click)="logOut()" class="logOutbtn"> <h6>
          <!-- Desconectar -->
          {{'disconnect' | translate }}
        </h6> </button> 
      </ion-item> 
    </ion-menu>
    <ion-router-outlet id="main-content" ></ion-router-outlet>
  </ion-split-pane>
</ion-app>