ion-content { 

    .container { 
        background-color: #F9F8F8;
        .avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
        .custom-title { color: black; padding-top: 20px; padding-bottom: 30px; white-space: normal;}
        .textarea-title { font-size: 22px; }        
        .custom-sub { font-size: 12px; white-space: normal;}
        .custom-text { font-size: 15px; }
        
        h3 {
            font-weight: 600;
            font-size: 30px;
            color: black   ;
            padding-left: 10px; padding-right: 10px;
        } 

        ion-select { 
            max-width: 75%; 
            --placeholder-opacity: 100%;
        }

        ion-card { box-shadow: none !important; }
        ion-title { color: black; font-weight: bolder; padding-left: 15px; font-size: 30px;}

        ion-label {
            .header-text {
                color: black;
            }
        }

        .input-select-container {
            background: #FFF;
            border-radius: 60px;
            text-align: center; 
            padding-left: 40px;
            font-size: 14px;
            width: 230px;        
            height: 40px; 
            color: #349388;
        }

       

        @media (max-width: 800px){
            .margin {
                margin-top: 0px;
            }
        }

        ion-item {--ion-item-background: #F9F8F8; --background-hover: none;}

        ion-list { background-color: #F9F8F8;}

        ion-card-content { padding-left: 60px; padding-right: 60px;}
        ion-chip {
            background-color: white;
            color: #9FC6BA;
            border-color: #9FC6BA;
            border-style: solid;
            border-width: 0.82px;
            border-radius: 49px;
            font-size: 16px;
            font-weight: 500;
            height: min-content;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 39px;
            padding-right: 39px;
            cursor: default;
        }

    }
}

.bubble {
    padding: 20px;
    position: absolute;
    z-index: 1;
    border-radius: 8px 8px 8px 8px;
    width: 200px;
    margin-bottom: 20px;
}
.bubble:after {
    content: "";
    position: absolute;
   top: 100%;
   right: 20px;
   color: #D9D9D9;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.disable {
    display: none;
}

/* Outside toolbar header */

ion-header {
    .header-class { 
    background-color: var(--ion-color-upmeup);
    padding-bottom: 15px;
    text-align: center;

    ion-thumbnail { margin:0 auto; width: 100px; height: 100px; }
    img { border-radius: 50%; }

    .title-offer { white-space: normal; font-size: 28px; }
    
}
}

@media (max-width: 700px){
    ion-item {
        ion-row {
            margin-bottom: 10px;
        }
    }
    ion-content {
        .container {
        ion-card-content { padding-left: 20px; padding-right: 20px;}
        h3 {  padding-left: 10px; padding-right: 10px; }
    }
    }
}

@media (max-width: 481px){
    .margin {
        margin-left: 125px !important;
    }
    .margin-row {
        justify-items: left !important;
        width: fit-content !important;
        margin-top: -40px !important;
    }
}
