<ion-header>
    <ion-toolbar color="upmeup" style="height: fit-content;">  
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <div class="header-class">
      <ion-thumbnail >
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/thumbnail.svg" />
        </ng-template>
      </ion-thumbnail>
      <ion-label class="header-text">
        <ion-grid >
          <ion-row>
            <ion-col> 
              <ion-title> 
                <ion-label class="title-offer" color="dark">
                  {{ userInfo?.name }} - {{userInfo?.city | translate }} 
                </ion-label>
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label> 
    </div>
    <ion-row class="{{showOption === 1 ? '' : 'disable'}}" style="position: absolute; z-index: 1; margin-top: -125px ;">
      <div class="bubble " style="background: #D9D9D9; margin-left: 125px; "> {{'project-deactivate-exp' | translate }} </div>
    </ion-row> 
    <ion-row style="position: absolute; z-index: 1; margin-top: -120px ;">
      <div class="bubble {{showOption === 2 ? '' : 'disable'}}" style="background: #D9D9D9; margin-left: 125px; ">{{'project-reactivate-exp' | translate }}</div>
    </ion-row>
    <ion-row class="margin-row" style="position: absolute; z-index: 1; margin-top: -100px ; display: grid; justify-items: end; width: 100% ;">
       <div class="bubble {{showOption === 3 ? '' : 'disable'}} margin" style="background: #D9D9D9; margin-right: 15px">{{'project-delete-exp' | translate }}</div> 
    </ion-row>
     </ion-header>
  
  <ion-content>
    <div class="container">       
      <ion-row style="padding-left: 50px; padding-top: 60px ;">
        <ion-col *ngIf="state === 'ACTIVE' || state === null" >
          <ion-row>
            <ion-button (click)="disableProject(projectID)" color="loginbtn" shape="round" style="text-transform: none;">
              {{'project-deactivate' | translate }}
            </ion-button>
            <ion-icon (click)="showOptions(1)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="state === 'INACTIVE'">
          <ion-button (click)="enableProject(projectID)" color="loginbtn" shape="round" style="text-transform: none;">
            {{'project-reactivate' | translate }}
          </ion-button>
          <ion-icon (click)="showOptions(2)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button id="open-modal" color="loginbtn" shape="round" style="text-transform: none;">
            {{'project-delete' | translate }}
          </ion-button>
          <ion-icon (click)="showOptions(3)" class="union-ico-blue" style="width: 28px; height: 28px; margin-left: 10px; margin-top: 5px; vertical-align: center;"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-modal trigger="open-modal" class="small-modal">
        <ng-template>
          <ion-content class="ion-padding" style="text-align: center;">
            <ion-text style="font-size: 30px; font-weight: 500;">{{'delete-conf-p' | translate }}</ion-text>
            <hr>
            <ion-text> {{'delete-conf-2-p' | translate }}</ion-text>
            <hr>
            <ion-text><strong>{{'delete-conf-3' | translate }}</strong></ion-text>
          </ion-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="dismissModal()">{{'cancel' | translate}}</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="deleteProject(projectID)" [strong]="true">{{'confirm' | translate}}</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ng-template>
      </ion-modal>
      
      <ion-card-content>
        <h3 class="ion-padding-top" color="light">
        {{'edit-project' | translate }}
        </h3> 
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
            <ion-label position="stacked"><div class="custom-title textarea-title" style="padding-top:0 ;">
              {{'title' | translate}}: *
              </div></ion-label>
            <ion-input id="iTitle" formControlName="iTitle" minlength="2" maxlength="101" required></ion-input>
          </ion-item>
          <!-- Error messages -->
          <div *ngIf="errorCtr.iTitle.errors && (errorCtr.iTitle.invalid || errorCtr.iTitle.touched)">
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.required">* 
              {{'required-field' | translate }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.minlength">* 
              {{'min-character' | translate: {min: 2} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors.maxlength">* 
              {{'max-character' | translate: {max: 100} }}
            </small>
          </div>


          <ion-item>
            <ion-label position="stacked"><div class="custom-title textarea-title">
              {{'description2' | translate }}
              : *</div></ion-label>
            <ion-textarea id="iDescription" formControlName="iDescription" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
          </ion-item>      
          <div *ngIf="errorCtr.iDescription.errors && (errorCtr.iDescription.invalid || errorCtr.iDescription.touched)">
            <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.required">* 
              {{'required-field' | translate }} 
            </small>        
            <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.minlength">* 
              {{'min-character' | translate: {min: 40} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.maxlength">* 
              {{'max-character' | translate: {max: 1000} }}
            </small>
          </div>

          <ion-list>
            <ion-item>
              <ion-row>
                <div style="width: 210px">
                  <ion-label>
                    <h2 class="custom-title">{{'sectors' | translate}}: *</h2>
                  </ion-label>
                </div>
                <div class="list list-inset input-select-container"> 
                  <ion-select interface="action-sheet" id="iSector" formControlName="iSector" multiple="true"
                  placeholder="{{'select' | translate }}..." required>
                    <ion-select-option *ngFor="let sector of finalSectorList" value="{{sector.value._id}}"> 
                      {{sector.label}}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-row >
                <div style="width: 210px">
                  <ion-label><h2 class="custom-title">
                  {{'status' | translate}}
                  : *</h2></ion-label> 
                </div>
                <div class="list list-inset input-select-container">
                  <ion-select interface="action-sheet" id="iStatus" formControlName="iStatus" placeholder="{{'select' | translate }}..."required>
                    <ion-select-option value="ongoing">
                      {{'ongoing' | translate }}
                    </ion-select-option>
                    <ion-select-option value="idea">
                      {{'idea' | translate}}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
            </ion-item>
          </ion-list>
  
          <!-- Competències -->
          <ion-item lines="none">
            <ion-label>
              <h2 class="custom-title" style="padding-bottom: 0;">
                {{'skills' | translate }}
                : *</h2>          
              <h5 class="custom-sub">
                <!-- (selecciona almenys 4 competències) -->
                {{'select-skills' | translate }}
              </h5>
            </ion-label>
          </ion-item>
          <ion-item class="ion-padding-top ion-padding-bottom">
            <tag-input [(ngModel)]="selectedCompet" 
                      [identifyBy]="'id'"
                      [displayBy]="'name'"
                      placeholder="+ {{'skills' | translate}}"
                      [maxItems]='20'
                      id="iCompetence"
                      formControlName="iCompetence"
                      [removable]="true"
                      [theme]="'upm-tag-theme'">
                  <ng-template let-item="item">
                    {{ item.name | translate }}
                    <delete-icon (click)="removeCompetence(item)"></delete-icon>
                  </ng-template>
              <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'" [matchingFn]="matchCompetencies">
                  <ng-template let-item="item" let-index="index">
                    {{ item.name | translate }}
                  </ng-template>
              </tag-input-dropdown>
            </tag-input>
          </ion-item>

          <ion-item>
            <ion-row>
              <div style="width: 210px">
                <ion-label ><h2 class="custom-title">
                {{'city' | translate}}
                :</h2></ion-label>
              </div>
              <div class="list list-inset input-select-container">
                <ion-select interface="action-sheet" id="iCity" formControlName="iCity"
                  placeholder="{{'select' | translate }}...">
                  <ion-select-option value="" >{{'no-city' | translate}}</ion-select-option>
                  <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
                </ion-select>
              </div>   
            </ion-row>   
          </ion-item>

          <ion-list>
            <ion-item>
              <ion-row>
                <div style="width: 210px">
                  <ion-label>
                    <h2 class="custom-title">{{'values' | translate }}: *</h2>
                  </ion-label>
                </div>
                <div class="list list-inset input-select-container"> 
                  <ion-select interface="action-sheet" id="iValues" formControlName="iValues" multiple="true"
                  placeholder="{{'select' | translate }}..." required>
                    <ion-select-option *ngFor="let skill of finalSkillsList" value="{{skill._id}}"> 
                      {{skill.label}}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
            </ion-item>
          </ion-list>

          <ion-item lines="none">
            <ion-label>
              <h2 class="custom-title" style="padding-bottom: 0;">
                {{ 'administrators' | translate }}</h2>     
              <h5 class="custom-sub" style="white-space: normal;">
                ({{'shared-admin-mail' | translate }})
              </h5>
            </ion-label>
          </ion-item>
          <ion-item class="ion-padding-top ion-padding-bottom">
            <tag-input [identifyBy]="'email'"
                       [displayBy]="'email'"
                       secondaryPlaceholder="+ Email"
                       placeholder="+ Email"
                       id="iAdmins"
                       formControlName="iAdmins"
                       [removable]="true"
                       [theme]="'upm-tag-theme'">
                  <ng-template let-index="index" let-item="item"  >
                    {{ item.email }}
                    <delete-icon (click)="removeEmail(item)" *ngIf="item.email !== userInfo?.email"></delete-icon>
                  </ng-template>
              <tag-input-dropdown [autocompleteItems]="usersList" [identifyBy]="'email'" [displayBy]="'email'" [matchingFn]="matchEmail">            
              </tag-input-dropdown>
            </tag-input>
          </ion-item>
  
  
          <ion-item>
            <ion-row style="width: 100%;">
              <ion-label position="stacked"><div class="custom-title textarea-title">
                {{'additional-info' | translate }}
              :</div></ion-label>
              
              <p class="ion-text-center" style="align-items: center; margin-top: 20px;">
                <ion-button fill="solid" color="loginbtn" shape="round" style="height: fit-content; width: fit-content;">
                  <label for="iFile" style="white-space: normal; padding: 10px;"> {{'select-file' | translate }}</label>
                </ion-button>
              <input type="file" id="iFile" accept=".pdf" (change)="onSelectFile($event)"  style="display:none">
              <ion-card style="text-align: left;">
                <label *ngIf="filenames">{{'selected-files' | translate }}: 
                  <div *ngFor="let file of filenames">
                    <ion-row>
                      <ion-col>
                        <ion-chip style="white-space: normal;">
                          <ion-label style="white-space: normal;">{{file}} </ion-label>
                        </ion-chip>
                      </ion-col>
                      <ion-col style="max-width: 30px;">
                        <delete-icon style="padding-left: 10px; " (click)="onDeleteFile(file)"></delete-icon>
                      </ion-col>
                    </ion-row>
                  </div>
                </label>
                </ion-card>
              </p>
            </ion-row>
          </ion-item> 
  
          <p class="ion-text-center ion-padding">
            <ion-button type="submit" fill="solid" color="loginbtn" shape="round" [disabled]="!editForm.valid"> 
              {{'update' | translate}}
            </ion-button>
            <small class="error ion-padding" *ngIf="!editForm.valid" style="color:red; display: block">{{'required-values' | translate }}</small>
          </p>
        </form>
      </ion-card-content>
    </div>
  </ion-content>
