<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
    <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
<ion-content>
    <iframe #rocketchat
        width="100%" height="100%" allow="camera;microphone" frameborder="1"
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
    </iframe>
</ion-content>
<app-menu-mobile></app-menu-mobile>