/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
.header-md::after {
    display: none;
}
ion-content { 
    --ion-background-color: -moz-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: -webkit-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);

    .container-login { padding: 5% }
    .content-logo { margin-bottom: 10%; margin-top: 0%; }

    h2 { color: #FFF; }
    .big-button {
        text-transform: none;
        padding: 18px 48px;
        border-radius: 60px;
        background: white;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        display: grid;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        grid-auto-flow: column;
        gap: 18px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;

        span {
            font-size: 18px;
            color: black;
            font-weight: 500;
        }
    }

    .big-button:disabled {
        background-color: #D7D8DA;
        color: #000;
    }

}