<ion-header class="ion-no-border">
  <app-toolbar></app-toolbar>
  <ion-toolbar color="upmeup">
    <!-- <app-multilanguage></app-multilanguage> -->
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/offer-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="offer">
  <div class="header-class">
    <ion-thumbnail class="avatar-center" (click)="goToWebsite()" style="cursor: pointer;">
      <img *ngIf="offer.user.avatarB64" class="profile" [src]="offer.user.avatarB64" />
      <img *ngIf="!offer.user.avatarB64" class="profile" src="./../../../assets/thumbnail.svg" />
    </ion-thumbnail>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row (click)="goToWebsite()" style="cursor: pointer;">
          <ion-col class="ion-text-center">
            <ion-title> <ion-label class="title-offer" color="dark">
                {{ offer?.user?.name }}</ion-label>

              <a *ngIf="offer?.user?.website" title="Ir a la web" style="color: #5a7266;"><ion-icon
                  style="width: 25px; height: 25px; padding-left: 10px; pointer-events: none;" name="exit-outline"
                  aria-hidden="true"></ion-icon></a>


            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>

    <ion-grid class="grid-info">
      <div class="ion-padding-bottom" *ngIf="offer?.user?.softSkills.length === 0">
        <div class="text-no-valors ion-padding">
          <ion-label color="danger" class="ion-text-start">
            <!-- Encara no tens valors seleccionats -->
            {{'no-values-selected' | translate }}
          </ion-label>
        </div>
      </div>

      <div class="ion-padding-top ion-padding-bottom" style="text-align: center; "
        *ngIf="offer?.user?.softSkills.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let skill of offer.user.softSkills">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <ion-icon class="{{skill.class}} custom-icon"></ion-icon>
                <span style="hyphens: auto;"><b>{{ skill.name | translate}}</b></span>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div class="head-line"></div>
  </div>
  <ion-row class="offerTitle ion-padding-top">
    <ion-col size="fit-content">
      <ion-title class="ion-padding-top ion-padding-bottom"
        style="padding-right: 10px; padding-left: 10px; word-wrap: anywhere"><ion-label style=" white-space: normal;">
          {{ offer.title }}
        </ion-label>

      </ion-title>
    </ion-col>
  </ion-row>

  <!-- Offer details -->

  <div class="container">
    <ion-card class="content-info" style="justify-items: left; width: 100%;">
      <ion-card-content>
        <ion-grid class="ion-padding-bottom">
          <ion-col size="12">
            <span>{{'compatibility-level' | translate }}:</span>
          </ion-col>
          <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="offer.match"
            style="pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
            <div slot="start">
              <h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{offer.match}}%</h3>
            </div>
          </ion-range>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="enrolled-ico custom-icon"></ion-icon>
                <span><b> {{ offer?.enrolled }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="calendar-ico custom-icon"></ion-icon>
                <span><b> {{ offer.createdDate | date: 'dd/MM/yyyy' }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="location-ico custom-icon">
                <ion-icon class=" custom-icon"></ion-icon>
                <span><b> {{ offer?.city | translate }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="jornada-ico custom-icon"></ion-icon>
                <span><b> {{ offer?.workHours | translate }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="remoto-ico custom-icon"></ion-icon>
                <span><b> {{ offer?.remote | translate }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="contract-ico custom-icon"></ion-icon>
                <span><b> {{ offer?.contractType | translate }} </b></span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="custom-icon">
                <ion-icon class="salary-ico custom-icon"></ion-icon>
                <span><b> {{ offer?.salaryRange | translate }} €</b></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Requirements -->
  <div class="container">
    <ion-card class="content-info" style=" justify-items: left; width: 100%;">
      <ion-card-content>
        <ion-grid>
          <ion-col size="12">
            <h2 class="custom-title"> {{ 'requirements' | translate }} </h2>
          </ion-col>

          <!-- Competències -->
          <div class="center-class" *ngIf="userCompets">
            <ion-label class="cv-title">
              <h2 class="custom-subtitle">
                <!-- Competències/Habilitats -->
                {{'skills' | translate }}
              </h2>
            </ion-label>
            <ion-label>
              <h4 class="margin">
                <ion-chip *ngFor="let compet of offer.competencies">
                  <ion-label> {{ compet.name | translate }} </ion-label>
                </ion-chip>
              </h4>
            </ion-label>
          </div>

          <ion-row>
            <ion-col size="12">
              <span><b> {{'min-studies' | translate}}: {{ offer?.eduLevel }} </b></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span><b> {{'required-experience' | translate}}: {{ offer?.requiredExperience }} </b></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span><b> {{'requirements' | translate}}: {{ offer?.requirements }} </b></span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Description -->
  <div class="container" style="padding-bottom: 40px;">
    <ion-card class="content-info" style="justify-items: left; width: 100%;">
      <ion-card-content>
        <ion-grid>
          <ion-col size="12">
            <h2 class="custom-title"> {{ 'description' | translate }} </h2>
          </ion-col>
          <ion-row>
            <ion-col size="12">
              <b> {{ offer?.description }} </b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Additional info -->
  <div class="container" style="padding-bottom: 40px;" *ngIf="files.length != 0">
    <ion-card class="content-info" style="justify-items: left; width: 100%;">
      <ion-card-content>
        <ion-grid>
          <ion-col size="12">
            <h2 class="custom-title"> {{'additional-info' | translate }} </h2>
          </ion-col>
          <ion-row>
            <ion-col size="12">
              <ul *ngFor="let file of files"> - {{file}} <a
                  style="color: blue; cursor: pointer; text-decoration: underline;"
                  (click)="onDownloadFile(offerID, file)">[{{'download' | translate }}] </a></ul>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Sign-in button -->
  <div class="container" *ngIf="!candidature" style="position: sticky; bottom: 20px;">
    <ion-button *ngIf="!candidature" size="medium" color="danger" expand="full" shape="round"
      style="padding-right: 20%; padding-left: 20%;" (click)="addEnrroled(offer._id, offer.title)">
      <!-- Enroll -->
      {{'sign-me-up' | translate }}
    </ion-button>
  </div>
  <div class="container" *ngIf="candidature"  style="position: sticky; bottom: 20px;">
    <ion-button size="medium" color="danger" expand="full" shape="round" style="padding-right: 20%; padding-left: 20%;"
      (click)="removeCandidate(offer._id, offer.title)">
      <!--Remove-->  
       {{'remove' | translate }}
    </ion-button>   
 </div>    
  <ion-fab *ngIf="(candidature?.status === 'PRESELECTED' || candidature?.status ==='HIRED') && roomId" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button color="upmeup" routerDirection="root" [routerLink]="[getChatUrl()]" lines="none" detail="false">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
<app-menu-mobile></app-menu-mobile>