<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
  <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/all-projects-list"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="interestProjectsList">
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-title >
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }}      
              </ion-label>   
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
   </ion-label>
  </div>
  <ion-row class="offerTitle ion-padding-top">
    <ion-col>
      <ion-title class="ion-padding-top ion-padding-bottom" 
                style="padding-right: 10px; padding-left: 10px;">
        <ion-label style="white-space: normal">
          {{'interest-projects' | translate}}
        </ion-label>           
      </ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="offerList" *ngIf="interestProjectsList.length === 0">
    <ion-label style="padding-left: 15px;">{{'no-candidatures-projects' | translate}} </ion-label>
  </ion-row>
  <ion-row class="offerList" style="padding-bottom: 10%; word-break: break-word;"> 
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" style="margin-right: 0px;" *ngFor="let project of interestProjectsList">
      <ion-card (click)="goProjectDetail(project)" style="cursor: pointer;">
        <ion-list lines="none" class="offers">
          <ion-item>
            <ion-thumbnail class="offer-avatar" slot="start">
              <img *ngIf="project.user.avatarB64" class="offers" [src]="project.user.avatarB64" />
              <img *ngIf="!project.user.avatarB64" class="offers" src="./../../../assets/thumbnail.svg" />
            </ion-thumbnail> 
            <ion-label>
              <ion-text color="custom">
                <h2 class="custom-text-space title-color" style="word-break: break-word ;"> {{ project.title }} </h2>
                <ion-text class="subtitle">
                  <p><b>{{ project.user.name | translate }}</b></p>
                </ion-text>
                <ion-text *ngIf="project.city" class="custom-text-space" color="dark">
                  <p><ion-icon name="location-outline"></ion-icon><b> {{ project.city | translate }} </b></p>  
                </ion-text>
              </ion-text>
              <ion-text color="medium">
                <p> {{ project.createdDate | date: 'dd/MM/yyyy' }} </p>
              </ion-text>
              <!-- <ion-button type="submit" fill="solid" color="loginbtn" shape="round" style="padding-left: 10px;" (click)="removeEnrolled(project._id, project.title)">{{ 'remove' | translate }}</ion-button>
              <ion-button type="submit" fill="solid" color="loginbtn" shape="round" style="padding-left: 10px;" (click)="removeEnrolled(project._id, project.title)">{{ 'interested' | translate }}</ion-button> -->

              <ion-text class="text-block" color="medium">
                <div class="separator"></div>
                <ion-label style="padding-left: 10px;"><ion-text>{{'compatibility-level' | translate }}:</ion-text></ion-label>
                <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="project.matchScore"
                  style="padding-top: 0; pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
                  <div slot="start">
                    <h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{project.matchScore}}%</h3>
                  </div>
          </ion-range>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-menu-mobile></app-menu-mobile>