<app-toolbar></app-toolbar>
<ion-toolbar color="upmeup">
  <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/user-profile"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content fullscreen={true}>
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail> 
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-bottom">
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ userInfo?.name }} - {{userInfo?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label> 
  </div>
  <ion-row class="offerList ion-padding-top"  >
    <ion-col size="fit-content" class="padding-right" style="padding-bottom: 0px; white-space: normal; word-break: break-word;">
      <ion-title class="ion-padding-top ion-padding-bottom" style="padding-left: 10px;" >{{'your-projects' | translate }}</ion-title>
    </ion-col>
    <ion-col style="padding-top: 10px; max-width: 200px;">
        <div class="v-line">
          <div style="margin-left: 10px;">
            <ion-label style="cursor: pointer; word-wrap:normal;" 
                      color="loginbtn" 
                      (click)="toProjectList()">
              {{'go-to-projects' | translate }}
            </ion-label>
          </div>
        </div>
    </ion-col>
    <ion-col style="padding-top: 10px;">
      <div class="v-line">
        <div style="margin-left: 10px;">
          <ion-label style="cursor: pointer; word-wrap:normal;" 
                    color="loginbtn" 
                    (click)="toInterestProjects()">
            {{'interest-projects' | translate }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>


  <!-- Filtros -->

  <ion-list>
    <form (ngSubmit)="onFilter()" [formGroup]="filters">
      <ion-item >
        <ion-input formControlName="search" placeholder="{{ 'search' | translate }}" ></ion-input>
      </ion-item>
      
      <ion-row>
        <ion-select formControlName="createdDate" placeholder="{{ 'created-date' | translate }}">
          <ion-select-option value="last-24">{{'last-24' | translate }}</ion-select-option>
          <ion-select-option value="last-7">{{'last-7' | translate }}</ion-select-option>
          <ion-select-option value="last-15">{{'last-15' | translate }}</ion-select-option>
        </ion-select>
        <ion-select formControlName="city" placeholder="{{ 'city' | translate }}">
          <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="sector" placeholder="{{ 'sector' | translate }}">
          <ion-select-option *ngFor="let sector of finalSectorList" value="{{sector.value._id}}">{{sector.label}}</ion-select-option>
        </ion-select>
        <ion-select formControlName="status" placeholder="{{ 'status' | translate }}">
          <ion-select-option *ngFor="let status of statusOptions" value="{{status}}">{{status |
            translate}}</ion-select-option>
        </ion-select>

      </ion-row>
      
      <ion-button type="submit" fill="solid" color="loginbtn" shape="round" style="padding-left: 10px;">{{ 'filter' | translate }}</ion-button>
      <ion-button fill="solid" color="loginbtn" shape="round" (click)="clearFilters()">{{ 'clear-filters' | translate
        }}</ion-button>
    </form>
  </ion-list>
  <div class="ion-text-center ion-padding" *ngIf="allProjects.length === 0 && ownedProjects === false && sharedProjects === false">
    <ion-row class="offerList" >
      <ion-label style="padding-left: 15px;">{{ 'no-projects' | translate }} 
      </ion-label>
    </ion-row>
    <ion-row class="btn-centered">
      <ion-button fill="solid" color="loginbtn" shape="round" (click)="redirectToProjectList()">{{ 'create-project' | translate
      }}</ion-button>
    </ion-row>
  </div>
  <div class="ion-text-center ion-padding" *ngIf="allProjects.length === 0 && ownedProjects === true" >
    <ion-row class="offerList" >
      <ion-label style="padding-left: 15px;">{{ 'owned-projects' | translate }} 
      </ion-label>
    </ion-row>
  </div>
  <div *ngIf="allProjects.length === 0 && ownedProjects === false && sharedProjects === true" >
    <ion-row class="offerList" >
      <ion-label style="padding-left: 15px;">{{ 'no-owned-projects-but-shared' | translate }} 
      </ion-label>
    </ion-row>
    <ion-row class="btn-centered">
      <ion-button fill="solid" color="loginbtn" shape="round" (click)="redirectToProjectList()">{{ 'create-project' | translate
      }}</ion-button>
    </ion-row>

  </div>

  <ion-row class="offerList" style="padding-bottom: 10%;">
    <ion-col sizeMd="fit-content" sizeSm="12" class="container" *ngFor="let project of allProjects">
      <ion-card (click)="goProjectDetail(project)" style="cursor: pointer;">
        <div *ngIf="project.enrolled" style="padding-top: 10px; padding-left: 10px;" >
          <img style="width: 20px; height: 20px; margin-bottom: 10px;" src="../../../assets/ok.png">   
          <ion-label style="color: #88c068; padding-left: 10px; font-size: 16px;"> {{'interest-project-added' | translate}} </ion-label></div>
        <ion-list lines="none" class="offers">
          <ion-item style="padding-bottom: 5px; padding-left: 0 ;">
            <ion-thumbnail class="offer-avatar" slot="start">
              <img *ngIf="project.user.avatarB64" class="offers" [src]="project.user.avatarB64" />
              <img *ngIf="!project.user.avatarB64" class="offers" src="./../../../assets/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label size="8">
              <h2 class="custom-text-space title-color"> {{ project.title }} </h2>
              <ion-row>
                <ion-col class="custom-text-space" size="6" style="padding-left: 0px;">
                  <ion-text color="dark">
                    <p> {{ project.createdDate | date: 'dd/MM/yyyy' }} </p>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="project.city" class="custom-text-space" size="6" style="justify-content: right; display: flex; word-break: break-word;">
                  <ion-text color="dark">
                    <p><b>{{ project.city | translate }}</b><ion-icon name="location-outline"></ion-icon></p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-text>{{'status' | translate }}: </ion-text>
                <ion-text class="custom-text-space" color="medium" style="padding-left: 10px;"> 
                  {{ project.status | translate }}
                </ion-text>
              </ion-row>
              <ion-row >
                <ion-text *ngIf="project.sector.length > 1; else elseBlock">{{'sectors' | translate }}: </ion-text>
                <ng-template #elseBlock>{{'sector' | translate }}: </ng-template>
                <ion-text class="custom-text-space" color="medium" *ngFor="let sector of project.sector" style="padding-left: 10px;"> 
                  {{ sector.name | translate }}.
                </ion-text>
              </ion-row>
            </ion-label>
          </ion-item>
          <div class="separator" ></div>
          <ion-label style="padding-left: 10px;"><ion-text>{{'compatibility-level' | translate }}:</ion-text></ion-label>
          <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="project.matchScore"
            style="padding-top: 0; pointer-events: none; --knob-box-shadow: 0 0 0 4px white; --bar-height: 8px --bar-background: #d2d9e2; --bar-background-active: var(--ion-color-loginbtn); --bar-height: 6px; --bar-border-radius: 6px; --knob-background: var(--ion-color-loginbtn); --knob-size:20px;">
            <div slot="start">
              <h3 style="color: var(--ion-color-loginbtn); font-weight: 900;">{{project.matchScore}}%</h3>
            </div>
          </ion-range>

        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
<app-menu-mobile></app-menu-mobile>
