/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*** Global Font ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*:not(ion-icon) { font-family: 'Montserrat', sans-serif !important; }

 // Global Autofill to inputs:
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     -webkit-box-shadow: 0 0 0 30px #fff inset !important;
     -moz-box-shadow: 0 0 0 100px #fff inset !important;
     box-shadow: 0 0 0 100px #fff inset !important;
 }

 input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/***************************************************************************/
/************************** Global Custom Styles ***************************/
/***************************************************************************/

.margin-top { margin-top: 15px; }
.margin-bottom { margin-bottom: 15px; }
.margin-left { margin-left: 15px; }
.margin-right { margin-right: 15px; }

.padding-top { padding-top: 15px; }
.padding-bottom { padding-bottom: 15px; }
.padding-left { padding-left: 15px; }
.padding-right { padding-right: 15px; }

.title-color { color: #7d9e9c !important; }
ion-toolbar ion-title { text-transform: uppercase; }

.ion-color-upmeup {
    --ion-color-base: var(--ion-color-upmeup);
    --ion-color-base-rgb: var(--ion-color-upmeup-rgb);
    --ion-color-contrast: var(--ion-color-upmeup-contrast);
    --ion-color-contrast-rgb: var(--ion-color-upmeup-contrast-rgb);
    --ion-color-shade: var(--ion-color-upmeup-shade);
    --ion-color-tint: var(--ion-color-upmeup-tint);
}

.ion-color-dark-upmeup {
    --ion-color-base: var(--ion-color-dark-upmeup);
    --ion-color-base-rgb: var(--ion-color-dark-upmeup-rgb);
    --ion-color-contrast: var(--ion-color-dark-upmeup-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-upmeup-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-upmeup-shade);
    --ion-color-tint: var(--ion-color-dark-upmeup-tint);
}

.ion-color-login-dgDark {
    --ion-color-base: var(--ion-color-login-dgDark);
    --ion-color-base-rgb: var(--ion-color-login-dgDark-rgb);
    --ion-color-contrast: var(--ion-color-login-dgDark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-login-dgDark-contrast-rgb);
    --ion-color-shade: var(--ion-color-login-dgDark-shade);
    --ion-color-tint: var(--ion-color-login-dgDark-tint);
}

.ion-color-loginbtn {
    --ion-color-base: var(--ion-color-loginbtn);
    --ion-color-base-rgb: var(--ion-color-loginbtn-rgb);
    --ion-color-contrast: var(--ion-color-loginbtn-contrast);
    --ion-color-contrast-rgb: var(--ion-color-loginbtn-contrast-rgb);
    --ion-color-shade: var(--ion-color-loginbtn-shade);
    --ion-color-tint: var(--ion-color-loginbtn-tint);
}

.ion-color-candidateok {
	--ion-color-base: var(--ion-color-candidateok);
	--ion-color-base-rgb: var(--ion-color-candidateok-rgb);
	--ion-color-contrast: var(--ion-color-candidateok-contrast);
	--ion-color-contrast-rgb: var(--ion-color-candidateok-contrast-rgb);
	--ion-color-shade: var(--ion-color-candidateok-shade);
	--ion-color-tint: var(--ion-color-candidateok-tint);
}

.ion-color-candidateko {
    --ion-color-base: var(--ion-color-candidateko);
}

/***** Custom Icons *****/  
.calendar-ico { background: url('./assets/icons/data.png') 0 0 / 18px 18px no-repeat; }
.enrolled-ico { background: url('./assets/icons/inscrits.png') 0 0 / 22px 18px no-repeat; }
.jornada-ico { background: url('./assets/icons/jornada.png') 0 0 / 19px 18px no-repeat; }
.contract-ico { background: url('./assets/icons/llibre.png') 0 0 / 23px 20px no-repeat; }
.salary-ico { background: url('./assets/icons/sou.png') 0 0 / 23px 18px no-repeat; }
.location-ico { background: url('./assets/icons/ubicacio.png') 0 0 / 18px 18px no-repeat; }
.remoto-ico { background: url('./assets/icons/model_de_treball.png') 0 0 / 22px 18px no-repeat; }
.eye-ico {background: url('./assets/icons/ojo-rojo.png') 0 0 / 18px 18px no-repeat; }
.eye-off-ico {background: url('./assets/icons/eye-off-outline.svg') 0 0 / 18px 18px no-repeat; }
.ofertas-ico {background: url('./assets/icons/ofertas.png') 0 0 / 30px 30px no-repeat; }
.union-ico {background: url('./assets/icons/Union.png') 0 0 / 30px 30px no-repeat; }
.union-ico-blue {background: url('./assets/icons/Union-ico-blue.png') 0 0 / 28px 28px no-repeat; }
.user-ico {background: url('./assets/icons/user.png') 0 0 / 30px 30px no-repeat; }
.vector-ico {background: url('./assets/icons/Vector.png') 0 0 / 30px 30px no-repeat; }
.idioma-ico {background: url('./assets/icons/idioma.png') 0 0 / 30px 30px no-repeat; }

//**** Skills Icons: *****//
.gender-equality { background: url('./assets/icons/skills-ico/gender-equality.png') 0 0 / 30px 30px no-repeat; }
.inclusion { background: url('./assets/icons/skills-ico/inclusion.png') 0 0 / 30px 30px no-repeat; }
.diversity { background: url('./assets/icons/skills-ico/diversity.png') 0 0 / 30px 30px no-repeat; } 
.learning { background: url('./assets/icons/skills-ico/learning.png') 0 0 / 30px 30px no-repeat; }
.sustainability { background: url('./assets/icons/skills-ico/sustainability.png') 0 0 / 30px 30px no-repeat; }
.participative-leadership { background: url('./assets/icons/skills-ico/participative-leadership.png') 0 0 / 30px 30px no-repeat; }
.participative-culture { background: url('./assets/icons/skills-ico/participative-culture.png') 0 0 / 30px 30px no-repeat; }
.transparency { background: url('./assets/icons/skills-ico/transparency.png') 0 0 / 30px 30px no-repeat; }
.innovation { background: url('./assets/icons/skills-ico/innovation.png') 0 0 / 30px 30px no-repeat; }
.colaboration { background: url('./assets/icons/skills-ico/colaboration.png') 0 0 / 30px 30px no-repeat; }
.integrity { background: url('./assets/icons/skills-ico/integrity.png') 0 0 / 30px 30px no-repeat; }
.nonprofit { background: url('./assets/icons/skills-ico/nonprofit.png') 0 0 / 30px 30px no-repeat; }
.organization { background: url('./assets/icons/skills-ico/organization.png') 0 0 / 30px 30px no-repeat; }
.trust { background: url('./assets/icons/skills-ico/trust.png') 0 0 / 30px 30px no-repeat; }
.co-responsability { background: url('./assets/icons/skills-ico/responsability.png') 0 0 / 30px 30px no-repeat; }
.resilience { background: url('./assets/icons/skills-ico/resilience.png') 0 0 / 30px 30px no-repeat; }
.sustainable-production { background: url('./assets/icons/skills-ico/sustainable-production.png') 0 0 / 30px 30px no-repeat; }
.community { background: url('./assets/icons/skills-ico/community.png') 0 0 / 30px 30px no-repeat; }
.solidarity { background: url('./assets/icons/skills-ico/solidarity.png') 0 0 / 30px 30px no-repeat; }
.equity { background: url('./assets/icons/skills-ico/equity.png') 0 0 / 30px 30px no-repeat; }
.responsible-consumption { background: url('./assets/icons/skills-ico/responsible-consumption.png') 0 0 / 30px 30px no-repeat; }
.fair-retribution { background: url('./assets/icons/skills-ico/fair-retribution.png') 0 0 / 30px 30px no-repeat; }
.client-orientation { background: url('./assets/icons/skills-ico/client-orientation.png') 0 0 / 30px 30px no-repeat; }
.result-orientation { background: url('./assets/icons/skills-ico/result-orientation.png') 0 0 / 30px 30px no-repeat; }

/* Quedan fuera:
.social-impact { background: url('./assets/icons/skills-ico/social-impact.png') 0 0 / 30px 30px no-repeat; }
.proactivity { background: url('./assets/icons/skills-ico/proactivity.png') 0 0 / 30px 30px no-repeat; }
.teamwork{ background: url('./assets/icons/skills-ico/teamwork.png') 0 0 / 30px 30px no-repeat; }
.passion { background: url('./assets/icons/skills-ico/passion.png') 0 0 / 30px 30px no-repeat; }
.quality { background: url('./assets/icons/skills-ico/quality.png') 0 0 / 30px 30px no-repeat; }
.education { background: url('./assets/icons/skills-ico/education.png') 0 0 / 30px 30px no-repeat; }
.accessibility { background: url('./assets/icons/skills-ico/accessibility.png') 0 0 / 30px 30px no-repeat; }
.creativity { background: url('./assets/icons/skills-ico/creativity.png') 0 0 / 30px 30px no-repeat; }*/

/* Modal Styles */

    .modalCss {
    --height: 700px !important;
    padding-top: 50px;
    padding-bottom: 50px
}
    .small-modal {
        --height: 350px !important;
    }

    .modal-dialog {
        width: 250px;   
    }

    modal-container.modal.fade.show {
        display: grid !important;
        align-content: end !important;
        padding-bottom: 100px !important;
    }

    .container {
        width:auto;
    }

    delete-icon.span.svg {
        vertical-align: middle !important; 
        height: 15px !important;
    }

    ion-col.container.md.hydrated {
        // width: revert-layer !important;
        max-width: 500px !important; 
        margin-right: 20px !important;
        margin-left: 0px !important;
    }



@media (max-height: 700px) and (min-height: 600px){
    .modalCss {
        --height: 600px !important;
    }
}

@media (max-height: 600px){
    .modalCss {
        --height: 500px !important;
    }
}



/**
*** Web Responsive style
**/
/*@media all (min-width: 370px) {
    body { width: 100%; }
}*/

@media (max-width: 1100px){
    .alert-wrapper.sc-ion-alert-md {
    min-width: 100%; 
    max-height: 80%;
    
    
    }
    .sc-ion-alert-md {
        white-space: normal !important;
    }

    .alert-checkbox-group.sc-ion-alert-md {
        max-height: 100%;
    }
    .alert-radio-group.sc-ion-alert-md{
        max-height: 100%;
    }

    
}

@media (min-width: 1100px){
    .alert-wrapper.sc-ion-alert-md {
    min-width: 50%;
    max-height: 80%;
    }  
    
    .alert-checkbox-group.sc-ion-alert-md {
        max-height: 100%;
    }

    .alert-radio-group.sc-ion-alert-md{
        max-height: fit-content;
    }
}
