/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-content { 
    // --background: url('../../../../../assets/background-img/bosque.jpg')center/1000px 1100px no-repeat;

    text-align: center;
    ion-title { font-size: 30px; font-weight: bold; margin-top: 100px; white-space: normal;}
    ion-text {margin-left: 15%; margin-right: 15%; display: block; font-size: 26px;}
    ion-button { text-transform: none; font-weight: bold; width: 200px;}
    .h3 {
        font-size: 28px;
        font-weight: 500;
    }

}

.header-class { 
    background-color: var(--ion-color-upmeup);
    
    .head-line { border: 3px #c8e3d6 solid; }
    
    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; width: 130px; height: 130px}
    .header-text { display: block; text-align: center; padding-bottom: 10px; }

    ion-label ion-icon { 
        width: 35px; 
        height: 35px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
    
}


/**
*** Web Responsive style
**/
@media (min-width: 1000px) {
    
    ion-content { 
        // --background: url('../../../../../assets/background-img/bosque_web_ok.jpg')center/1800px 1000px repeat  ;
        --background-size: contain;

        text-align: center;
        ion-title { font-size: 30px; font-weight: bold; margin-top: 100px;}
        ion-text {margin-left: 20%; margin-right: 20%; display: block; font-size:larger; }
    }
}

@media (max-width: 800px){
    .mobile {
        display: none;
    }
  }