<app-toolbar></app-toolbar>
<ion-content *ngIf="userInfo">
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center; ">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="130px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img width="130px" src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail>
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-text-center">
             <ion-label class="title-offer" style="font-weight: 500; font-size: 28px;">
                {{ userInfo.name }} <ion-label *ngIf="userInfo.surname !== '-'">{{userInfo?.surname}}</ion-label>  - {{userInfo.city | translate}}
              </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </div>
  <div style="padding-bottom: 100px;">
    <ion-text style="font-size: 30px; font-weight: 600; padding-top: 100px;" >¡{{'congratulations' | translate }}!</ion-text>
    <ion-text >{{'enrolled' | translate }}<ion-text style="font-weight: 700; font-size: 26px;"><b>Up me Up,</b></ion-text>
      <ion-text *ngIf="userType === '2'">¡{{'welcome-user' | translate}} !</ion-text>
      <ion-text *ngIf="userType === '1'">¡{{'welcome-company' | translate }}!</ion-text>
    </ion-text>
    <ion-grid class="mobile">
         <ion-button color="loginbtn" shape="round" (click)="goToProfile()" style="margin-top: 20px;">
          {{'edit-profile-inf' | translate }}
        </ion-button>
    </ion-grid> 
    <ion-grid class="mobile">
        <ion-button *ngIf="userType === '2'" color="loginbtn" shape="round" (click)="goToCreateOffer()">
          {{'publish-offer' | translate }}
        </ion-button>
        <ion-button *ngIf="userType === '1'" color="loginbtn" shape="round" (click)="goToOfferList()">
          {{'consult-offers' | translate }}
        </ion-button>
    </ion-grid> 
  </div>
     
</ion-content>
<app-menu-mobile></app-menu-mobile>

