<ion-content fullscreen scroll="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="light" defaultHref="/login"></ion-back-button> -->
      <a href="/login" style="color: white; font-size: small; padding-left: 20px ;">{{'sign-in' | translate }}</a>
    </ion-buttons>
  </ion-toolbar>
  <app-multilanguage></app-multilanguage>
  <div class="steper {{userType == '2' ? '' : 'user'}}">
    <div class="step {{ curSlide >= i ? 'success' : ''}} {{ curSlide === i ? 'active' : ''}}"
      *ngFor="let step of steps; index as i" (click)="changeSlide(i)">
      <div>
        <span>{{ i + 1}}</span>
      </div>
      <p class="{{ curSlide === i ? 'label' : 'no-label'}}">{{step | translate}}</p>
    </div>
  </div>
  <ion-slides style="margin-top: 2vh;" [options]="slideOpts" #registerSlider>
    <ion-slide>
      <div class="container">
        <h2>
          <!-- Com vols entrar a l'aplicació? -->
          {{'entry-mode' | translate }}
        </h2>
        <div class="container" style="margin-bottom: 60px;">
          
          <button class="big-button" fill="solid" color="light" shape="round" (click)="getType('2')">
            <b>
              <!-- Empresa/Entitat -->
              {{'company' | translate }}
            </b>
            <ion-icon name="arrow-forward-outline" style="font-size: 17px;"></ion-icon>
          </button>
          <button class="big-button" fill="solid" color="light" shape="round" (click)="getType('1')">
            <b>
              <!-- Treballador/a -->
              {{'worker' | translate }}
            </b>
            <ion-icon name="arrow-forward-outline" style="font-size: 17px;"></ion-icon>
          </button>
        </div>
      </div>
    </ion-slide>

    <!-- Form 1 -->
    <ion-slide>
      <div class="container">
        <form [formGroup]="formSlide1" (ngSubmit)="submitForm()" novalidate>
          
          <h2 *ngIf="userType === '1'">
            <!-- Nom -->
            {{'name' | translate }}
          </h2>
          <h2 *ngIf="userType === '2'">
            <!-- Nom de l'empresa o entitat -->
            {{'company-entity-name' | translate }} 
          </h2>
          <div>
            <div class="list list-inset input-container {{error === 'true' && errorsSld1.iName.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
              <input class="native-input sc-ion-input-md " type="text" placeholder="{{'name' | translate }}" id="iName"
                formControlName="iName" minlength="2" maxlength="31" required>
            </div>
            <div *ngIf="errorsSld1.iName.errors && (errorsSld1.iName.invalid || errorsSld1.iName.touched)">
              <small class="error " *ngIf="errorsSld1.iName.errors.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>
              <small class="error "
                *ngIf="errorsSld1.iName.errors.minlength || errorsSld1.iName.errors.maxlength">*
                <!-- Ha de tenir com a mínim 2 i com a máxim 40 caràcters -->
                {{'min-max' | translate: { min:2, max: 30 } }}
              </small>
            </div>
          </div>
          <ng-container *ngIf="userType === '2'" style="margin-bottom: 10px; ">
            <h2 style="margin-top: 20px;"> {{'legal-form' | translate }} </h2>
            <div class="list list-inset input-select-container {{error === 'true' && errorsSld1.iLegal.invalid ? 'warning' : ''}}">
              <ion-select class="form-text" interface="action-sheet" id="iLegal" formControlName="iLegal" minlength="1"
                maxlength="80" placeholder="{{'select' | translate }}..." cancelText="{{'cancel' | translate}}"
                required>
                <ion-select-option *ngFor="let legalForm of legalFormList" value="{{legalForm}}">{{legalForm |
                  translate }}</ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="errorsSld1.iLegal.errors && (errorsSld1.iLegal.invalid || errorsSld1.iLegal.touched)">
              <small class="error " *ngIf="errorsSld1.iLegal.errors.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>
            </div>
          </ng-container>


          <ng-container *ngIf="userType === '1'">
            <h2 style="margin-top: 20px;">
              <!-- Cognom -->
              {{'surname' | translate}}
            </h2>
            <div>
              <div class="list list-inset input-container {{error === 'true' && errorsSld1.iSurname.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
                <input class="native-input sc-ion-input-md" type="text" placeholder="{{'surname' |translate}}"
                  id="iSurname" formControlName="iSurname" minlength="2" maxlength="31" required>
              </div>
              <div *ngIf="errorsSld1.iSurname.errors && (errorsSld1.iSurname.invalid || errorsSld1.iSurname.touched)">
                <small class="error " *ngIf="errorsSld1.iSurname.errors.required">* {{'required-field' | translate }}</small>
                <small class="error "
                  *ngIf="errorsSld1.iSurname.errors.minlength || errorsSld1.iSurname.errors.maxlength">*
                  <!-- Ha de tenir com a mínim 3 i com a máxim 40 caràcters -->
                  {{'min-max' | translate: { min:2, max: 30 } }}
                </small>
              </div>
            </div>
          </ng-container>
          <h2 *ngIf="userType === '1'" style="margin-top: 30px;">
            <!-- Ciutat de residencia -->
            {{'residence-city' | translate }}
          </h2>
          <h2 *ngIf="userType === '2'" style="margin-top: 30px;">
            <!-- Ciutat de residencia -->
            {{'registered-office' | translate }}
          </h2>
          <div class="list list-inset input-select-container {{error === 'true' && errorsSld1.iCity.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
            <ion-select class="form-text" interface="action-sheet" id="iCity" formControlName="iCity" minlength="1"
              maxlength="80" placeholder="{{'select' | translate }}..." cancelText="{{'cancel' | translate}}" required>
              <ion-select-option *ngFor="let city of finalCityList"
                value="{{city.value}}">{{city.label}}</ion-select-option>
            </ion-select>
          </div>
          <div *ngIf="errorsSld1.iCity.errors && (errorsSld1.iCity.invalid || errorsSld1.iCity.touched)">
            <small class="error " *ngIf="errorsSld1.iCity.errors.required">*
              <!-- Camp requerit -->
              {{'required-field' | translate }}
            </small>
          </div>
          <div class="container" style="margin-top: 30px;">
            <button type="button" class="big-button alt" (click)="validationForm1()">
              <!-- Continuar -->
              {{'continue' | translate }}
            </button>
          </div>
        </form>
      </div>
    </ion-slide>

    <!-- Form 2 -->
    <ion-slide>
      <form [formGroup]="formSlide2" (ngSubmit)="submitForm()" novalidate>
        <div class="container" style="max-width: 360px;">
          <h2>{{'email' | translate}}</h2>
          <div>
            <div class="list list-inset input-container {{error === 'true' && errorsSld2.iEmail.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
              <input class="native-input sc-ion-input-md" type="email" placeholder="{{'email' | translate }}" id="iEmail"
                formControlName="iEmail" minlength="8" required>
            </div>
            <div *ngIf="errorsSld2.iEmail.errors && (errorsSld2.iEmail.invalid || errorsSld2.iEmail.touched)">
              <small class="error " *ngIf="errorsSld2.iEmail.errors?.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small><br>
              <small class="error " *ngIf="errorsSld2.iEmail.errors ">*
                <!-- L'Email introduït no és vàlid (evita fer servir majúscules o espais) -->
                {{'wrong-email' | translate }}
              </small><br>
              <small class="error " *ngIf="errorsSld2.iEmail.errors?.minlength">*
                <!-- Ha de tenir com a mínim 8 caràcters -->
                {{'min-character' | translate: { min: 8 } }}
              </small>
            </div>
          </div>
          <h2 style="margin-top: 20px;">
            <!-- Contrasenya -->
            {{'password' | translate }}
          </h2>
          <div>
            <div class="list list-inset input-container {{error === 'true' && errorsSld2.iPassword.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
              <ion-label>
                <ion-row>
                  <ion-col size="10">
                    <input class="native-input sc-ion-input-md" type="password" placeholder="{{'password' | translate }}"
                    id="iPassword" formControlName="iPassword" minlength="8" maxlength="65" required>
                  </ion-col>
                  <ion-col style="text-align: end; padding-top: 8px" >
                    <ion-icon class="eye-ico" (click)="showPass()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-label>
              
            </div>
            <div *ngIf="errorsSld2.iPassword.errors && (errorsSld2.iPassword.invalid || errorsSld2.iPassword.touched)">
              <small class="error " *ngIf="errorsSld2.iPassword.errors?.required">*
                {{'required-field' | translate }}
              </small><br>
              <small class="error " *ngIf="errorsSld2.iPassword.errors?.pattern">
                *
                {{'password-conditions' | translate }}
              </small><br>
              <small class="error " *ngIf="errorsSld2.iPassword.errors?.minlength">*
                {{'min-character' | translate: { min: 8 } }}
              </small>
              <small class="error " *ngIf="errorsSld2.iPassword.errors?.maxlength">*
                {{'max-character' | translate: { max: 64 } }}
              </small>
            </div>
          </div>
          <h2>
            <!-- Confirmar contrasenya -->
            {{'confirm-password' | translate }}
          </h2>
          <div>
            <div class="list list-inset input-container {{error === 'true' && errorsSld2.confirmPassword.invalid ? 'warning' : ''}}" style="margin-bottom: 10px;">
              <ion-label>
                <ion-row>
                  <ion-col size="10">
                    <input class="native-input sc-ion-input-md" type="password"
                    placeholder="{{'confirm-password' | translate }}" id="confirmPassword" formControlName="confirmPassword"
                    minlength="8" maxlength="64" required>
                  </ion-col>
                  <ion-col style="text-align: end; padding-top: 8px" >
                    <ion-icon class="eye-ico" (click)="showConfirmedPass()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-label>
              
            </div>
            <div
              *ngIf="errorsSld2.confirmPassword.errors && (errorsSld2.confirmPassword.invalid || errorsSld2.confirmPassword.touched)">
              <small class="error " *ngIf="errorsSld2.confirmPassword.errors?.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small><br>
              <small color="danger" class="error " *ngIf="errorsSld2.confirmPassword.errors?.matching">*
                <!-- El password no coincideix -->
                {{'wrong-password' | translate }}
              </small>
            </div>
          </div>
          <div class="container">
            <button type="button" class="big-button alt" (click)="validationForm2()" cy-data="continueSlide2">
              <!-- Continuar -->
              {{'continue' | translate }}
            </button>
          </div>
        </div>
      </form>
    </ion-slide>

    <!-- Form 3 -->
    <ion-slide>
      <form [formGroup]="formSlide3" (ngSubmit)="submitForm()" novalidate>
        <div class="container" style="max-width: 360px;">
          <ng-container *ngIf="userType === '1'">
            <h2>
              <!-- Ultim carrec o feina -->
              {{'last-job' | translate }}
            </h2>
            <div>
              <div class="list list-inset input-container {{error === 'true' && errorsSld3.iJobPos.invalid ? 'warning' : ''}}" style="margin-bottom: 10px; margin-top: 0px">
                <input class="native-input sc-ion-input-md" type="text" placeholder="{{'job' | translate }}"
                  id="iJobPos" formControlName="iJobPos" minlength="4" maxlength="71" required>
              </div>
              <div *ngIf="errorsSld3.iJobPos.errors && (errorsSld3.iJobPos.invalid || errorsSld3.iJobPos.touched)">
                <small class="error " *ngIf="errorsSld3.iJobPos.errors.required">*
                  <!-- Camp requerit -->
                  {{'required-field' | translate }}
                </small>
                <small class="error "
                  *ngIf="errorsSld3.iJobPos.errors.minlength || errorsSld3.iJobPos.errors.maxlength">*
                  <!-- Ha de tenir com a mínim 4 i com a máxim 40 caràcters -->
                  {{'min-max' | translate: { min:4, max: 70 } }}
                </small>
              </div>
            </div>
          </ng-container>
          <!-- Website -->
          <ng-container *ngIf="userType === '2'">
            <h2>
              {{'website' | translate }}
          </h2>
          <div>
            <div class="list list-inset input-container">
              <input class="native-input sc-ion-input-md" type="text" placeholder="{{'website' | translate }}"
                id="iWebsite" formControlName="iWebsite" minlength="0" maxlength="101" >
            </div>
            <div *ngIf="errorsSld3.iWebsite.errors">
              <small class="error "
                *ngIf="errorsSld3.iWebsite.errors.maxlength">*
                {{'max-character' | translate: {max: 100} }}
              </small>
            </div>
          </div>
          </ng-container>
          
      
          <h2 *ngIf="userType === '1'">{{'what-sector' | translate }}</h2>
          <h2 *ngIf="userType === '2'">
            <!-- A quin sector pertany? -->
            {{'what-sector' | translate }}
          </h2>
          <div>
            <div class="list list-inset input-select-container {{error === 'true' && errorsSld3.iSector.invalid ? 'warning' : ''}}" style="margin-bottom: 10px; margin-top: 0px">
              <ion-select class="form-text" id="iSector" formControlName="iSector" multiple="true"
                placeholder="{{'select' | translate }}..." cancelText="{{'cancel' | translate}}" minlength="1"
                maxlength="41" required>
                <ion-select-option *ngFor="let sector of finalSectorList" class="native-input sc-ion-input-md"
                  value="{{sector.value._id}}"> {{sector.label}} </ion-select-option>
              </ion-select>
            </div>
            <div *ngIf="errorsSld3.iSector.errors && (errorsSld3.iSector.invalid || errorsSld3.iSector.touched)">
              <small class="error " *ngIf="errorsSld3.iSector.errors.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>
              <small class="error "
                *ngIf="errorsSld3.iSector.errors.minlength || errorsSld3.iSector.errors.maxlength">*
                <!-- Ha de tenir com a mínim 1 i com a máxim 40 caràcters -->
                {{'min-max' | translate: { min:1, max: 40 } }}
              </small>
            </div>
          </div>

          <h2 *ngIf="userType === '1'" style="margin-top: 10px">
            <!-- Anys d'experiencia -->
            {{'experience-cap' | translate }}
          </h2>
          <h2 *ngIf="userType === '2'" style="margin-top: 10px">
            <!-- Antiguitat de l'empresa -->
            {{'company-age' | translate }}
          </h2>
          <div>
            <div style="display: grid; grid-auto-flow: column; align-items: center; justify-content: center;">
              <div class="list list-inset input-container {{error === 'true' && errorsSld3.iExp.invalid ? 'warning' : ''}}"
                style="display: grid; grid-auto-flow: column; justify-content: space-between; align-items: center; gap: 28px; padding: 16px 24px; max-width: 360px; width: inherit; margin-bottom: 10px; margin-top: 0px">
                <ion-icon style="font-weight: 500; border-radius: 100%; background-color: #C7C6C6;"
                  cy-data="minus-one"
                  name="remove-outline" (click)="addExperience(-1)"></ion-icon>
                <input class="native-input sc-ion-input-md" type="number" placeholder="0" id="iExp"
                  formControlName="iExp" style="width: 2ch;">
                <ion-icon style="font-weight: 500; border-radius: 100%; background-color: #C7C6C6;" 
                  cy-data="plus-one"
                  name="add-outline"
                  (click)="addExperience(1)"></ion-icon>
              </div>
              <!-- anys -->
              {{'years' | translate }}
            </div>
            <div *ngIf="errorsSld3.iExp.errors && (errorsSld3.iExp.invalid || errorsSld3.iExp.touched)">
              <small class="error " *ngIf="errorsSld3.iExp.errors.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>
              <small class="error "
                *ngIf="errorsSld3.iExp.errors.minlength || errorsSld3.iExp.errors.maxlength">*
                <!-- Ha de tenir com a mínim 1 i com a máxim 40 caràcters -->
                {{'min-max' | translate: { min:1, max: 2 } }}
              </small>
            </div>
          </div>

          <div class="container">
            <button type="button" class="big-button alt" (click)="validationForm3()" cy-data="continueSlide3">
              <!-- Continuar -->
              {{'continue' | translate }}
            </button>
          </div>

        </div>
      </form>
    </ion-slide>
    <!-- Form 4 -->
    <ion-slide>
      <form [formGroup]="formSlide4" (ngSubmit)="submitForm()" novalidate>
        <div class="container" style="max-width: 460px;">
          <h2 *ngIf="userType === '1'">
            <!-- Descriu breument la feina que desenvolupes en l'actualitat i/o les habilitats  -->
            <!-- que tens com a treballador/a -->
            {{'skills-description' | translate }}
          </h2>
          <h2 *ngIf="userType === '2'">
            <!-- Què feu a la teva empresa o entitat? -->
            {{'what-company' | translate }}
          </h2>
          <div>
            <div class="list list-inset input-container {{error === 'true' && errorsSld4.iLastJob.invalid ? 'warning' : ''}}" style="border-radius: 24px; min-width: 360px;">
              <ion-textarea id="iLastJob" minlength="20" maxlength="1001" rows="8" cols="10" formControlName="iLastJob"
                required></ion-textarea>
            </div>
            <div *ngIf="errorsSld4.iLastJob.errors && (errorsSld4.iLastJob.invalid || errorsSld4.iLastJob.touched)">
              <small class="error " *ngIf="errorsSld4.iLastJob.errors.required">*
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>
              <small class="error "
                *ngIf="errorsSld4.iLastJob.errors.minlength || errorsSld4.iLastJob.errors.maxlength">*
                {{'min-max' | translate: { min:20, max: 1000 } }}
              </small>
            </div>
          </div>
          <div class="container">
            <button type="button" class="big-button alt" (click)="validationForm4()" cy-data="continueSlide4">
              <!-- Continuar -->
              {{'continue' | translate }}
            </button>
          </div>
        </div>
      </form>
    </ion-slide>

    <!-- Select Skills -->
    <ion-slide>
      <div class="container" style="max-width: 790px;">
        <h2 *ngIf="userType === '1'">
          <!-- Potser t'identifiques amb tots els valors o característiques que et proposem en la següent pantalla, però  -->
          <!-- et demanem que triïs els 6 que més et representen. -->
          {{'softskills-disclaimer-user' | translate }}
        </h2>
        <h2 *ngIf="userType === '2'">
          <!-- Potser la teva empresa o entitat s'identifica amb tots els valors o característiques que et proposem en la següent  -->
          <!-- pantalla, però et demanem que triïs els 6 que més et representen. -->
          {{'softskills-disclaimer-company' | translate }}
        </h2>
        <div class="skills">
          <div *ngFor="let softSkill of skillsList"
            style="text-align: left; display: grid; align-items: center; grid-auto-flow: column; justify-content: left;">
            <ion-toggle (click)="toggleSkill(softSkill._id)" slot="start"
              [disabled]="userSkills?.length>=6 && !userSkillsIds.has(softSkill._id)">
              <!-- [checked]="isChecked(skill)"> -->
            </ion-toggle>
            {{softSkill.name | translate}}
          </div>
        </div>
        <ng-container *ngIf="userType === '1'" class="padding-btn">
          <div class="container">
            <button type="submit" class="big-button alt" [disabled]="!(userSkills?.length > 5)" (click)="swipeNext()" cy-data="saveSkills">
              <!-- Continuar -->
              {{'continue' | translate }}
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="userType === '2'">
          <!-- Privacy -->
          <div style="padding-left: 20px; padding-right: 20px;"> 
            <div>
              <ion-checkbox slot="start" id="terms" (ionChange)="onPrivacyChanged($event)" style="background-color: white;"></ion-checkbox>
              <small class="error ion-padding-bottom"> 
                {{'accept' | translate }} 
                <a id="open-modal" style="cursor: pointer; color: white; text-decoration: underline;">
                  {{ 'privacy' | translate }} 
                </a>
                <ion-label *ngIf="selectedLang === 'eus'">{{'accept-2' | translate }} </ion-label>.
              </small>
            </div>
            <div>
              <ion-checkbox slot="start" id="terms" (ionChange)="onCommsChanged($event)" style="background-color: white;"></ion-checkbox>
              <small class="error" style="padding-left: 10px;">{{'comms-accept' | translate }}</small>
            </div>        
          </div>
         
        
          <!-- Privacy policy modal -->
          <ion-modal trigger="open-modal">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{'privacy' | translate }}</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-legal-info></app-legal-info>
              </ion-content>
              <ion-footer>
               <ion-toolbar>
                <!-- <ion-item>
                  <ion-checkbox slot="start" id="terms" (ionChange)="onTermsChanged($event)" [checked]="privacyOK"></ion-checkbox>
                  <ion-label>{{'accept-privacy-policy' | translate }}</ion-label>
                </ion-item> -->
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">{{'exit' | translate }}</ion-button>
                </ion-buttons>
               </ion-toolbar>
              </ion-footer>
            </ng-template>
          </ion-modal>
           
          <div class="container">
            <button type="submit" class="big-button alt" [disabled]="!(userSkills?.length > 5)" (click)="finish()" cy-data="finish-ent">
              <!-- Finalitzar -->
              {{'finish' | translate }}
            </button>
          </div>
          <small class="error {{error === 'true' ? 'warning' : ''}}">*
            {{'accept-warning' | translate }}
          </small> 
        </ng-container>
      </div>
    </ion-slide>

    <!-- Form 5 Language - Education -->
    <ion-slide *ngIf="userType === '1'">
      <form [formGroup]="formSlide5" (ngSubmit)="submitForm()" novalidate>
        <div class="container" style="max-width: 800px;">
          <h2>
            <!-- Nivell d'estudis -->
            {{'education-level' | translate }}
          </h2>
          <div class="list list-inset input-container {{error === 'true' && errorsSld5.iEduc.invalid ? 'warning' : ''}}" style="margin-bottom: 0px;">
            <input class="native-input sc-ion-input-md" type="text" placeholder="{{'studies' | translate }}" id="iEduc"
              formControlName="iEduc" minlength="2" maxlength="101" required>
          </div>
          <div *ngIf="errorsSld5.iEduc.errors && (errorsSld5.iEduc.invalid || errorsSld5.iEduc.touched)">
            <small class="error " *ngIf="errorsSld5.iEduc.errors.required">*
              <!-- Camp requerit -->
              {{'required-field' | translate }}
            </small>
            <small class="error "
              *ngIf="errorsSld5.iEduc.errors.minlength || errorsSld5.iEduc.errors.maxlength">*
              {{'min-max' | translate: { min:2, max: 100 } }}
            </small>
          </div>
          <h2 style="margin-top: 20px;">
            <!-- Idiomes -->
            {{'languages' | translate }}
          </h2>
          <div class="list list-inset input-select-container {{error === 'true' && errorsSld5.iLang.invalid ? 'warning' : ''}}" style="margin-bottom: 0px;">
            <ion-select class="form-text" interface="action-sheet" id="iLang" formControlName="iLang" okText="Ok"
              cancelText="{{'cancel' | translate}}" minlength="1" maxlength="10" [multiple]="true"
              placeholder="{{'select' | translate }}..." required>
              <ion-select-option *ngFor="let language of finalLangList" value="{{language.value}}">{{language.label
                }}</ion-select-option>
            </ion-select>
          </div>
          <div *ngIf="errorsSld5.iLang.errors && (errorsSld5.iLang.invalid || errorsSld5.iLang.touched)">
            <small class="error " *ngIf="errorsSld5.iLang.errors.required">*
              <!-- Camp requerit -->
              {{'required-field' | translate }}
            </small>
          </div>
          <h2 style="margin-top: 20px;">
            <!-- Competències o habilitats -->
            {{'skills' | translate }}
          </h2>
          <app-tag-input placeholder="Habilidad (ej. Python)" [autocomplete]="competenciesNames"
            (onAdd)="addCompetency($event)" (onDelete)="removeCompetency($event)" cy-data="competences"></app-tag-input>
          <small class="error {{error === 'true' ? 'warning' : ''}}"
            *ngIf="this.userCompets.length < 2">*
            {{'min-competences' | translate }}
          </small>
          <small class="error ion-padding-bottom"> 
            *{{'add-competences' | translate}}
          </small>

          <!-- Privacy -->
          <div style="padding-left: 20px; padding-right: 20px;"> 
            <div>
              <ion-checkbox slot="start" id="terms" (ionChange)="onPrivacyChanged($event)" style="background-color: white;"></ion-checkbox>
              <small class="error ion-padding-bottom"> 
                {{'accept' | translate }} 
                <a id="open-modal" style="cursor: pointer; color: white; text-decoration: underline;">
                  {{ 'privacy' | translate }} 
                </a>
                <ion-label *ngIf="selectedLang === 'eus'">{{'accept-2' | translate }} </ion-label>.
              </small>
            </div>
            <div>
              <ion-checkbox slot="start" id="terms" (ionChange)="onCommsChanged($event)" style="background-color: white;"></ion-checkbox>
              <small class="error" style="padding-left: 10px;">{{'comms-accept' | translate }}</small>
            </div>        
          </div>
         
        
          <!-- Privacy policy modal -->
          <ion-modal trigger="open-modal">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{'privacy' | translate }}</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-legal-info></app-legal-info>
              </ion-content>
              <ion-footer>
               <ion-toolbar>
                <!-- <ion-item>
                  <ion-checkbox slot="start" id="terms" (ionChange)="onTermsChanged($event)" [checked]="privacyOK"></ion-checkbox>
                  <ion-label>{{'accept-privacy-policy' | translate }}</ion-label>
                </ion-item> -->
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">{{'exit' | translate }}</ion-button>
                </ion-buttons>
               </ion-toolbar>
              </ion-footer>
            </ng-template>
          </ion-modal>
          
          <!-- Finalitzar -->
          <div class="container">
            <button type="submit" (click)="finish()" class="big-button alt">
              {{'finish' | translate }}
            </button>
          </div>
          <small class="error {{error === 'true' ? 'warning' : ''}}">*
            {{'accept-warning' | translate }}
          </small>      
        </div>
      </form>
    </ion-slide>

  </ion-slides>
</ion-content>