@import "../../theme/chips-theme.scss";

/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/
ion-content {
    --ion-background-color: -moz-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: -webkit-linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);
    --ion-background-color: linear-gradient(135deg, var(--ion-color-upmeup) 0%, var(--ion-color-login-dgDark) 100%);

    ion-checkbox {
        --ion-background-color: white;
    }


    .container {
        display: grid;
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }

    .container-medium {
        margin: 140px 25px;
        width: 430px;
    }

    .container-short {
        max-width: 430px;
    }

    h2,
    h4 {
        color: #FFF;
        margin: 0px;
    }
    

    .big-button {
        width: 100%;
        text-transform: none;
        padding: 18px 48px;
        border-radius: 60px;
        background: white;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        display: grid;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        grid-auto-flow: column;
        gap: 18px;
        font-size: 18px;

        span {
            font-size: 18px;
            color: var(--ion-color-loginbtn);
        }
    }

    .big-button.alt:disabled,
    .big-button:disabled {
        background-color: #D7D8DA;
        color: #000;
    }

    .big-button.alt {
        background-color: var(--ion-color-loginbtn);
        color: white;
    }

    div {
        .warning {
            border-style:groove; 
            border-width: 1px; 
            border-color: red;
        }

        .input-container {
            background: #FFF;
            border-radius: 60px;
            padding: 18px 48px;
            margin: 15px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

            input,
            input[type="text"],
            input[type="password"],
            input:focus,
            input:focus-visible {
                border: 0;
                text-align: center;
                outline: none;
                font-size: 18px;
                color: var(--ion-color-loginbtn);
            }     
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;

        }

        ::placeholder {

            color: var(--placeholder-forms);
            opacity: 100%;
        }

        ion-select {
            max-width: 98% !important;
            color: var(--ion-color-loginbtn);
            font-size: 18px;         
        }
        
        
        

        

        .input-select-container {
            background: #FFF;
            border-radius: 60px;
            padding: 9px 48px;
            margin: 15px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
            width: 360px;         
        }

       
    }

    .padding-btn {
        padding-top: 40px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 48px;
        justify-content: space-between;
    }

    .steper {
        display: grid;
        margin-top: 120px;
        grid-template-columns: repeat(6, 1fr);

        >:not(:first-child) {
            div::before {
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background-color: white;
                opacity: 70%;
                position: absolute;
                top: 20px;
                right: calc(50% + 1px);
                z-index: -1;
            }
        }

        .step {
            display: grid;
            justify-items: center;
            position: relative;

            div {
                background-color: white;
                border-radius: 100%;
                text-align: center;
                aspect-ratio: 1/1;
                font-weight: 500;
                width: 40px;
                height: 40px;
                display: grid;
                align-items: center;
                justify-items: center;


            }



            p {
                color: white;
                margin-top: 6px;
                font-weight: 400;
            }
        }

        >:not(:first-child).success {
            div::before {
                background-color: #466B6E;
            }
        }

        .success {
            div {
                background-color: #466B6E;
                color: white;
            }

            p {
                color: #466B6E;
            }
        }

    }

    .steper.user {
        grid-template-columns: repeat(7, 1fr);
    }

    ion-toggle {
        width: 50px;
        height: 30px;
        padding: 12px;
        --border-radius: 60px;
        
        --background: #D7D8DA;
        --background-checked: var(--ion-color-loginbtn);

        --handle-background: white;
        --handle-background-checked: white;
        --handle-height: 16px;
        --handle-width: 16px;
        --handle-spacing: 3px;

        --handle-box-shadow: none;

        /* Required for iOS handle to overflow the height of the track */
        overflow: visible;
        contain: none;

    }
    


    @media only screen and (max-width: 1100px) {

        .skills {
            grid-template-columns: 1fr;
        }

        .steper.user {
            grid-template-columns: 2;
        }

        .no-label {
            display: none;
        }

    }

    ion-slide {
        padding-bottom: 100px;
    }

}

ion-toggle::part(track) {
    border: 2px solid white;
}

//Input ngx-chips: 
:host ::ng-deep .ng2-tag-input__text-input {
    width: 100%;
    border: 0px;
    border-radius: 50px;
    margin: 18px;
    padding: 8px;
}


/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-slide {
        display: grid;
    }

}